<main id="AppFrameMain" class="ui-app-frame__main">
    <div id="body" class="clearfix">
        <div class="" id="content">
            <div id="linklist-new" class="page">
                <form [formGroup]="menuForm" (ngSubmit)="menuId ? submitUpdateMenu() : submitAddMenu();"
                      class="new_link_list"
                      id="new_link_list">
                    <header class="ui-title-bar-container ">
                        <div class="ui-title-bar">
                            <div class="ui-title-bar__navigation">
                                <div class="ui-breadcrumbs">
                                    <a routerLink="/navigation/links" class="ui-breadcrumb">
                                        <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#chevron-left-thinner"></use>
                                            <svg id="chevron-left-thinner" width="100%" height="100%">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                    <path d="M12 16c-.256 0-.512-.098-.707-.293l-5-5c-.39-.39-.39-1.023 0-1.414l5-5c.39-.39 1.023-.39 1.414 0s.39 1.023 0 1.414L8.414 10l4.293 4.293c.39.39.39 1.023 0 1.414-.195.195-.45.293-.707.293z"></path>
                                                </svg>
                                            </svg>
                                        </svg>
                                        <span class="ui-breadcrumb__item">Navigation</span>
                                    </a>
                                </div>
                            </div>
                            <div class="ui-title-bar__main-group">
                                <div class="ui-title-bar__heading-group">
                                    <span class="ui-title-bar__icon"></span>
                                    <h1 class="ui-title-bar__title">{{ title_bar }}</h1></div>
                                <div class="action-bar">
                                    <div class="ui-title-bar__mobile-primary-actions">
                                        <div class="ui-title-bar__actions">
                                            <button class="ui-button ui-button--primary js-btn-loadable js-btn-primary ui-title-bar__action btn-primary has-loading"
                                                    type="submit" name="button">Save menu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-title-bar__actions-group">
                                <div class="ui-title-bar__actions">
                                    <button class="ui-button ui-button--primary js-btn-loadable js-btn-primary ui-title-bar__action btn-primary has-loading"
                                            type="submit" name="button">Save menu
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-header">
                            <div class="collapsible-header__heading"></div>
                        </div>
                        <app-alert style="width: 100%;"></app-alert>
                    </header>
                    <section class="ui-annotated-section-container">
                        <div class="ui-annotated-section">
                            <div class="ui-annotated-section__annotation">
                                <div class="ui-annotated-section__title">
                                    <h2 class="ui-heading">Menu description</h2></div>
                            </div>
                            <div class="ui-annotated-section__content">
                                <div class="next-card">
                                    <div class="section-content" formGroupName="menu">
                                        <div class="next-card__section">
                                            <div class="next-input-wrapper">
                                                <label class="next-label">Name</label>
                                                <input formControlName="title" #menutitle id="link-name" [disabled]="menu.handle === 'main-menu' || menu.handle === 'footer-menu'"
                                                       class="next-input large ssb" placeholder="Sidebar menu" size="30"
                                                       type="text">
                                            </div>
                                            <div class="next-input-wrapper">
                                                <label class="next-label">Handle
                                                    <span class="type--subdued">
                                                        <a target="_blank" class="type--subdued"
                                                           href="https://docs.shopify.com/themes/liquid-variables/handle">(what's this?)</a>
                                                    </span>
                                                </label>
                                                <input formControlName="handle" id="link_list-handle" class="next-input"
                                                       size="30" type="text" placeholder="Menu handle">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="ui-annotated-section-container">
                        <div class="ui-annotated-section">
                            <div class="ui-annotated-section__annotation">
                                <div class="ui-annotated-section__title">
                                    <h2 class="ui-heading">Menu items</h2>
                                </div>
                                <div class="ui-annotated-section__description">
                                    <p>Drag menu items to change the order that they appear in on your online store.</p>
                                    <button class="btn" type="button" (click)="addItem();">Add menu item</button>
                                </div>
                            </div>
                            <div class="ui-annotated-section__content">
                                <div class="next-card">
                                    <div class="section-content">
                                        <div class="next-card__section" formArrayName="menu_item">
                                            <div [hidden]="menuForm.get('menu_item').value.length">
                                                <div class="blank-slate slim">
                                                    <div class="next-layout--fixed-width next-layout--fixed-width--small">
                                                        <h3 class="next-heading next-heading--no-margin">This menu
                                                            doesn't have any items yet.</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table-hover expanded js-linklist-resources ui-sortable"
                                                   [hidden]="!menuForm.get('menu_item').value.length">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="link-name">Name</th>
                                                    <th class="link-values">Link</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody class="js-linklist-resource" [dragula]='"bag-one"'
                                                       [dragulaModel]="menuForm.get('menu_item')['controls']">
                                                <tr class="sortable-link drag-handle"
                                                    *ngFor="let item of menuForm.get('menu_item')['controls']; let i=index"
                                                    [formGroupName]="i">
                                                    {{ item.get('position').setValue(i) }}
                                                    <td class="drag">
                                                        <svg class="next-icon next-icon--color-slate-lighter next-icon--size-12">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 xlink:href="#next-drag-handle">
                                                                <svg id="next-drag-handle" width="100%" height="100%">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                         viewBox="0 0 20 20"><title>Drag-Handle</title>
                                                                        <path d="M7 2c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm0 6c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm0 6c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm6-8c1.104 0 2-.896 2-2s-.896-2-2-2-2 .896-2 2 .896 2 2 2zm0 2c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm0 6c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2z"></path>
                                                                    </svg>
                                                                </svg>
                                                            </use>
                                                        </svg>
                                                    </td>
                                                    <td class="link-name">
                                                        <input formControlName="title" type="text"
                                                               id="link_list_links__title" class="linkname"
                                                               placeholder="About us">
                                                    </td>
                                                    <td class="link-value">
                                                        <select formControlName="linkable_type"
                                                                name="link_list[links][][link_type]"
                                                                id="link_list_links__link_type" #link_type
                                                                [value]="item.get('linkable_type').value">
                                                            <option value="HomePage">Home page</option>
                                                            <option value="Collection">Collection</option>
                                                            <option value="Collections">All collections</option>
                                                            <option value="Product">Product</option>
                                                            <option value="Catalog">All products</option>
                                                            <option value="Page">Page</option>
                                                            <option value="Blog">Blog</option>
                                                            <option value="Search">Search page</option>
                                                            <option value="Http">Web address</option>
                                                        </select>
                                                        <div class="inline">
                                                            <div class="disable-inputs-when-hidden inline hide"
                                                                 *ngIf="link_type.value == 'HomePage'">
                                                                <input formControlName="subject" [(ngModel)]="homepage"
                                                                       type="hidden">
                                                            </div>
                                                        </div>
                                                        <div class="inline">
                                                            <div class="disable-inputs-when-hidden inline hide"
                                                                 [attr.bind-show]="link_type.value == 'Collection'">
                                                                <div class="dropdown-container" id="collections_list0">
                                                                    <select formControlName="linkable_id"
                                                                            [value]="item.get('linkable_id').value"
                                                                            name="collections_list0">
                                                                        <option value="" disabled selected>Select a
                                                                            collection
                                                                        </option>
                                                                        <option *ngFor="let opt of dataCollection"
                                                                                [value]="opt.id">{{ opt.title }}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="inline">
                                                                    <a><span>Filter with tags</span></a>
                                                                    <input type="text"
                                                                           name="link_list[links][][subject_params]"
                                                                           id="link_list_links__subject_params"
                                                                           class="w-auto hide"
                                                                           placeholder="Separate with commas">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="inline">
                                                            <div class="disable-inputs-when-hidden inline hide"
                                                                 [attr.bind-show]="link_type.value == 'Product'">
                                                                <div class="dropdown-container" id="products_list0">
                                                                    <select formControlName="linkable_id"
                                                                            [value]="item.get('linkable_id').value"
                                                                            name="products_list0">
                                                                        <option value="" disabled selected>Select a
                                                                            product
                                                                        </option>
                                                                        <option *ngFor="let opt of dataProduct"
                                                                                [value]="opt.id">{{ opt.title }}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="inline">
                                                            <div class="disable-inputs-when-hidden inline hide"
                                                                 [attr.bind-show]="link_type.value == 'Page'">
                                                                <select formControlName="linkable_id"
                                                                        [value]="item.get('linkable_id').value"
                                                                        name="pages_list0">
                                                                    <option value="" disabled selected>Select a page
                                                                    </option>
                                                                    <option value="1" selected>Page 1</option>
                                                                    <option value="2">Page 2</option>
                                                                </select>
                                                                <!--<div class="dropdown-container" #pages_list0 (click)="isShowPages(pages_list0);" id="pages_list0">
                                                                    <button type="button" class="btn btn-slim js-resource-button">
                                                                        <span class="resource-picker-title">Select a page</span>
                                                                        <svg class="next-icon next-icon&#45;&#45;size-20">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#next-disclosure">
                                                                                <svg id="next-disclosure" width="100%"
                                                                                     height="100%">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                         viewBox="0 0 20 20">
                                                                                        <path d="M6.28 9.28l3.366 3.366c.196.196.512.196.708 0L13.72 9.28c.293-.293.293-.767 0-1.06-.14-.14-.332-.22-.53-.22H6.81c-.414 0-.75.336-.75.75 0 .2.08.39.22.53z"></path>
                                                                                    </svg>
                                                                                </svg>
                                                                            </use>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="dropdown left-aligned"
                                                                         id="collections2_resources_dropdown">
                                                                        <div class="magnificent-search-widget msw resource-search"
                                                                             id="collections2_magnificent-search-widget">
                                                                            <div class="msw-search-controls">
                                                                                <div class="msw-search-container">
                                                                                    <input type="text"
                                                                                           name="searchQuery"
                                                                                           id="searchQuery"
                                                                                           class="msw-search-input resource-search-input dont-close multiple"
                                                                                           placeholder="Search for collection">
                                                                                </div>
                                                                                <div class="msw-results-wrap resource-search-results"
                                                                                     id="collections2_search-results"
                                                                                     refresh="collections2_search-results">
                                                                                    <div class="msw-results resource-results datalist">
                                                                                        <ul class="unstyled">
                                                                                            <li class="resource-search-result">
                                                                                                <a href="#">
                                                                                                    24/7
                                                                                                </a>
                                                                                            </li>
                                                                                            <li class="resource-search-result">
                                                                                                <a href="#">
                                                                                                    Ariul
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="collections2_results-pagination-links">
                                                                                    <div class="msw-results-paginate clearfix">
                                                                                        <div class="resource-search-pagination-links">
                                                                                            <ul id="collections2_pagination-links"
                                                                                                class="segmented">
                                                                                                <li>
                                                                                                    <a class="btn js-keep-open js-pagination-link js-prev-btn tooltip tooltip-top disabled"
                                                                                                       href="/admin/collections/dropdown?resource_key=collections2">
                                                                                                          <span class="tooltip-container">
                                                                                                            <span class="tooltip-label">Previous</span>
                                                                                                          </span>
                                                                                                        <svg role="img"
                                                                                                             class="next-icon next-icon&#45;&#45;rotate-270 next-icon&#45;&#45;size-16"
                                                                                                             aria-labelledby="next-arrow-detailed-1fb01d0f6670fa94b7596b160adace23-title">
                                                                                                            <title id="next-arrow-detailed-1fb01d0f6670fa94b7596b160adace23-title">
                                                                                                                previous</title>
                                                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                 xlink:href="#next-arrow-detailed">
                                                                                                                <svg id="next-arrow-detailed"
                                                                                                                     class="icon-symbol&#45;&#45;loaded"
                                                                                                                     width="100%"
                                                                                                                     height="100%">
                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                         viewBox="0 0 16 17"
                                                                                                                         enable-background="new 0 0 16 17">
                                                                                                                        <path d="M7 3.411V16a1 1 0 0 0 2 0V3.411l4.96 4.963a1 1 0 1 0 1.414-1.414L8.707.289a1 1 0 0 0-1.414 0L.626 6.959a1 1 0 1 0 1.415 1.415L7 3.41z"></path>
                                                                                                                    </svg>
                                                                                                                </svg>
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </a></li>
                                                                                                <li>
                                                                                                    <a class="btn js-keep-open js-pagination-link js-next-btn tooltip tooltip-top"
                                                                                                       href="/admin/collections/dropdown?direction=next&amp;last_id=405270922&amp;last_value=Etude+House&amp;limit=8&amp;order=title+asc&amp;resource_key=collections2">
                                                                                                          <span class="tooltip-container">
                                                                                                            <span class="tooltip-label">Next</span>
                                                                                                          </span>
                                                                                                        <svg role="img"
                                                                                                             class="next-icon next-icon&#45;&#45;rotate-90 next-icon&#45;&#45;size-16"
                                                                                                             aria-labelledby="next-arrow-detailed-9943e9cde1369ff3e2d2ce82b9a8480b-title">
                                                                                                            <title id="next-arrow-detailed-9943e9cde1369ff3e2d2ce82b9a8480b-title">
                                                                                                                next</title>
                                                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                 xlink:href="#next-arrow-detailed">
                                                                                                                <svg id="next-arrow-detailed"
                                                                                                                     class="icon-symbol&#45;&#45;loaded"
                                                                                                                     width="100%"
                                                                                                                     height="100%">
                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                         viewBox="0 0 16 17"
                                                                                                                         enable-background="new 0 0 16 17">
                                                                                                                        <path d="M7 3.411V16a1 1 0 0 0 2 0V3.411l4.96 4.963a1 1 0 1 0 1.414-1.414L8.707.289a1 1 0 0 0-1.414 0L.626 6.959a1 1 0 1 0 1.415 1.415L7 3.41z"></path>
                                                                                                                    </svg>
                                                                                                                </svg>
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                        <div class="inline">
                                                            <div class="disable-inputs-when-hidden inline hide"
                                                                 [attr.bind-show]="link_type.value == 'Blog'">
                                                                <select formControlName="subject_params"
                                                                        [value]="item.get('subject_params').value"
                                                                        name="blogs_list0" id="">
                                                                    <option value="" disabled selected>Select a blog
                                                                    </option>
                                                                    <option value="Blog1">Blog1</option>
                                                                    <option value="Blog2">Blog2</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="disable-inputs-when-hidden inline hide"
                                                             [attr.bind-show]="link_type.value == 'Http'">
                                                            <input formControlName="subject_params" type="text"
                                                                   name="link_list[links][][subject]"
                                                                   id="link_list_links__subject" class="w-auto">
                                                        </div>
                                                    </td>
                                                    <td class="tr remove">
                                                        <button class="btn btn-slim btn--icon tooltip tooltip-bottom tooltip-right-align"
                                                                type="button" (click)="removeItem(i);"
                                                                title="item-{{ i }}">
                                                          <span class="tooltip-container">
                                                              <span class="tooltip-label">Delete link</span>
                                                          </span>
                                                            <svg class="next-icon next-icon--size-20">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     xlink:href="#delete-minor">
                                                                    <svg id="delete-minor" width="100%" height="100%">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 20 20">
                                                                            <path d="M16 6a1 1 0 1 1 0 2h-1v9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V8H4a1 1 0 1 1 0-2h12zM9 4a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2H9zm2 12h2V8h-2v8zm-4 0h2V8H7v8z"></path>
                                                                        </svg>
                                                                    </svg>
                                                                </use>
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="ui-page-actions  ui-page-actions--has-secondary">
                        <div class="ui-page-actions__container">
                            <div class="ui-page-actions__actions ui-page-actions__actions--secondary">
                                <div class="ui-page-actions__button-group">
                                    <div class="modal modal_source" id="modal_container"
                                         [ngStyle]="{'display' : isShowDelete ? 'block' : 'none'}">
                                        <header>
                                            <h2>Delete <strong>{{ menutitle.value }}</strong>?</h2>
                                            <button class="ui-button btn--link close-modal" type="button"
                                                    (click)="isShowDelete = false;" name="button">Close modal
                                            </button>
                                        </header>
                                        <form (submit)="submitDeleteMenu(menu.id);">
                                            <div class="body">
                                                <p>Are you sure you want to delete the menu
                                                    <strong>{{ menutitle.value }}</strong>? This action cannot be
                                                    reversed.</p>
                                            </div>
                                            <div class="buttons">
                                                <button class="ui-button close-modal" type="button"
                                                        (click)="isShowDelete = false;" name="button">Cancel
                                                </button>
                                                <input type="submit" class="btn btn-destroy-no-hover" value="Delete"/>
                                            </div>
                                        </form>
                                    </div>
                                    <button class="ui-button btn-destroy" [class.hide]="menu.handle === 'main-menu' || menu.handle === 'footer-menu'" type="button" (click)="isShowDelete = true;"
                                            name="button">Delete menu
                                    </button>
                                </div>
                            </div>
                            <div class="ui-page-actions__actions ui-page-actions__actions--primary">
                                <div class="ui-page-actions__button-group">
                                    <button class="ui-button ui-button--primary js-btn-primary js-btn-loadable btn-primary has-loading"
                                            type="submit" name="commit">Save menu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal wrapper-->
                    <div [class.visible]="onHidden()" class="modal-bg" id="modal_backdrop" tabindex="0"></div>
                    <!--END Modal wrapper-->
                    <!--Flash message-->
                    <div class="ui-flash-wrapper" [class.ui-flash-wrapper--is-visible]="isShowFlashMessage"
                         id="UIFlashWrapper">
                        <div class="ui-flash ui-flash--nav-offset" id="UIFlashMessage">
                            <p class="ui-flash__message" tabindex="-1" aria-live="off" role="status">
                                {{ flash_message }}</p>
                            <div class="ui-flash__close-button">
                                <button class="ui-button ui-button--transparent ui-button--icon-only"
                                        aria-label="Close message" type="button" name="button">
                                    <svg class="next-icon next-icon--color-white next-icon--size-12">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-remove">
                                            <svg id="next-remove" width="100%" height="100%">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                                    <path
                                                            d="M18.263 16l10.07-10.07c.625-.625.625-1.636 0-2.26s-1.638-.627-2.263 0L16 13.737 5.933 3.667c-.626-.624-1.637-.624-2.262 0s-.624 1.64 0 2.264L13.74 16 3.67 26.07c-.626.625-.626 1.636 0 2.26.312.313.722.47 1.13.47s.82-.157 1.132-.47l10.07-10.068 10.068 10.07c.312.31.722.468 1.13.468s.82-.157 1.132-.47c.626-.625.626-1.636 0-2.26L18.262 16z"></path>
                                                </svg>
                                            </svg>
                                        </use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--END Flash message-->
                </form>
              {{ menuForm.value | json }}
            </div>
        </div>
    </div>
</main>
