<main id="AppFrameMain" class="ui-app-frame__main ">
    <div class="wrapper"
         id="wrapper">
        <div id="body" class="clearfix">
            <div class="" id="content">
                <div id="themes-index" class="page themes-index">
                    <header class="ui-title-bar-container">
                        <div class="ui-title-bar ui-title-bar--separator">
                            <div class="ui-title-bar__main-group">
                                <div class="ui-title-bar__heading-group">
                                    <span class="ui-title-bar__icon">
                                        <svg class="next-icon next-icon--color-slate-lighter next-icon--size-20">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#next-themes"></use>
                                        </svg>
                                    </span>
                                    <h1 class="ui-title-bar__title">Themes</h1>
                                </div>
                                <div class="action-bar">
                                    <div class="action-bar__item action-bar__item--link-container">
                                        <div class="action-bar__top-links">
                                            <a href="https://banhxinh.de3.coded.work"
                                               class="ui-button ui-button--transparent action-bar__link"
                                               target="_blank">
                                                <svg class="next-icon next-icon--size-20 action-bar__link-icon next-icon--no-nudge">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="#next-preview">
                                                    </use>
                                                </svg>
                                                View your store
                                            </a>
                                        </div>
                                        <div class="action-bar__more hide">
                                            <div class="ui-popover__container">
                                                <button class="ui-button ui-button--transparent" type="button"
                                                        name="button">
                                                    <span data-singular-label="Actions" class="action-bar__more-label">More actions</span>
                                                    <svg class="next-icon next-icon--size-20">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             xlink:href="#next-disclosure">
                                                        </use>
                                                    </svg>
                                                </button>
                                                <div class="ui-popover ui-popover--align-edge">
                                                    <div class="ui-popover__tooltip"></div>
                                                    <div class="ui-popover__content-wrapper">
                                                        <div class="ui-popover__content">
                                                            <div class="ui-popover__pane">
                                                                <ul class="action-bar__popover-wrapper">
                                                                    <li>
                                                                        <ul class="ui-action-list">
                                                                            <li class="ui-action-list__item">
                                                                                <a href="https://www-mybeautyfriend-com.myshopify.com/?preview_theme_id="
                                                                                   class="ui-action-list-action action-bar__popover-hidden-item"
                                                                                   data-popover-index="1"
                                                                                   target="_blank"
                                                                                   rel="noopener noreferrer">
                                                                                    <span class="ui-action-list-action__text">
                                                                                        <span class="action-bar__popover-icon-wrapper">
                                                                                            <svg class="next-icon next-icon--color-blue next-icon--size-16 action-bar__popover-icon">
                                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                     xlink:href="#next-preview"></use>
                                                                                            </svg>
                                                                                        </span>
                                                                                        View your store
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-header">
                            <div class="collapsible-header__heading"></div>
                        </div>
                    </header>
                    <section class="ui-annotated-section-container">
                        <div class="ui-annotated-section">
                            <div class="ui-annotated-section__annotation">
                                <div class="ui-annotated-section__title">
                                    <h2 class="ui-heading">Current theme</h2>
                                </div>
                                <div class="ui-annotated-section__description">
                                    <p>Your customers see this theme when
                                        they visit your online store.</p>
                                </div>
                            </div>
                            <div class="ui-annotated-section__content">
                                <div class="published-themes" id="PublishedThemes" data-tg-refresh="PublishedThemes">
                                    <section class="ui-card">
                                        <div class="ui-card__section published-theme">
                                            <div class="ui-type-container">
                                                <div class="ui-stack published-theme__stack">
                                                    <div class="ui-stack-item ui-stack-item--fill">
                                                        <h3 class="ui-heading published-themes__title">
                                                            {{currentTheme.name}}</h3>
                                                        <p class="published-theme__meta">
                                                            Last edited on {{currentTheme.created_at }}
                                                        </p>
                                                    </div>
                                                    <div class="published-theme__actions">
                                                        <ul class="ui-button-group">
                                                            <div class="ui-popover__container">
                                                                <button class="ui-button"
                                                                        type="button"
                                                                        name="button"
                                                                        (click)="isShowActivator = !isShowActivator">
                                                                    Actions
                                                                    <svg class="next-icon next-icon--size-20">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             xlink:href="#next-disclosure">
                                                                        </use>
                                                                    </svg>
                                                                </button>
                                                                <div class="ui-popover"
                                                                     [class.ui-popover--is-active]="isShowActivator"
                                                                     [ngStyle]="{'max-width': 'none',
                                                                     'margin-right': '0px',
                                                                     'margin-left': '0px',
                                                                     'padding-right': '1.1rem',
                                                                     'transform-origin': '82px -5px 0px',
                                                                     'left': '-31px',
                                                                     'z-index': '1000'}">
                                                                    <div class="ui-popover__tooltip"></div>
                                                                    <div class="ui-popover__content-wrapper">
                                                                        <div class="ui-popover__content">
                                                                            <div class="ui-popover__pane">
                                                                                <div class="ui-popover__section ui-popover__section--no-padding">
                                                                                    <ul class="ui-action-list">
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="https://www-mybeautyfriend-com.myshopify.com/?preview_theme_id=159704714"
                                                                                               class="ui-action-list-action"
                                                                                               data-trekkie-button-label="Preview published theme"
                                                                                               target="_blank"
                                                                                               rel="noopener noreferrer"><span
                                                                                                    class="ui-action-list-action__text">Preview</span>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="ui-popover__section ui-popover__section--no-padding">
                                                                                    <ul class="ui-action-list">
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"
                                                                                                    (click)="showingUpdateTheme(currentTheme)">
                                                                                                <span class="ui-action-list-action__text">Rename</span>
                                                                                            </button>
                                                                                        </li>
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/159704714/duplicate"
                                                                                               class="ui-action-list-action"
                                                                                               data-tg-remote="post"
                                                                                               data-trekkie-button-label="Duplicate published theme"><span
                                                                                                    class="ui-action-list-action__text">Duplicate</span></a>
                                                                                        </li>
                                                                                        <div data-modal-context-ref-for="downloadTheme159704714Modal"></div>
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"><span
                                                                                                    class="ui-action-list-action__text">Download theme file</span>
                                                                                            </button>
                                                                                        </li>
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/159704714"
                                                                                               class="ui-action-list-action"
                                                                                               data-no-turbolink="true"><span
                                                                                                    class="ui-action-list-action__text">Edit code</span></a>
                                                                                        </li>
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/159704714/language"
                                                                                               class="ui-action-list-action"><span
                                                                                                    class="ui-action-list-action__text">Edit languages</span></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div data-modal-context-ref-for="updateTheme159704714Modal"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a href="/admin/themes/159704714/editor"
                                                               class="ui-button ui-button--primary"
                                                               data-no-turbolink="true">Customize</a>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui-card__section ui-section--theme-previews">
                                            <div class="ui-type-container">
                                                <div class="theme-preview">
                                                    <img alt="" class="theme-preview__desktop-frame"
                                                         src="//cdn.shopify.com/s/assets/admin/themes/laptop-frame-2320886c2d92ea7b495a039787c9c0b1c7cbb7f620c48ee2e31a31cc62e9d685.png">
                                                    <div class="theme-preview__overlay">
                                                        <!--<iframe class="theme-preview__iframe theme-preview__iframe&#45;&#45;desktop"
                                                                src="https://www-mybeautyfriend-com.myshopify.com/?_ab=0&amp;_fd=0&amp;_sc=1&amp;frame_token=OcF6RvUCES0D-kuhkfkev4ZkH7k8QYVABvqwkT6rkxQi1PlifJ4i1WqJI28x1OWEF90YWwlP6ihLx3GQlMDDSINRN9zQ04XY9ZNoH4Up8Vha-yFNCn8q6gUX6BaIH_klR119o_QoKiJ5ALl48TRxyw%3D%3D&amp;preview_theme_id="
                                                                sandbox="allow-scripts" scrolling="no" tabindex="-1"
                                                                style="transform: scale(0.413793);"></iframe>-->
                                                    </div>
                                                </div>
                                                <div class="theme-preview--mobile">
                                                    <img alt="" class="theme-preview__desktop-frame"
                                                         src="//cdn.shopify.com/s/assets/admin/themes/phone-frame-230e839662dab1305a7d2b8b4ff8b0a5561b0b2b4be3fe889804d8bf5ed1c60c.png">
                                                    <div class="theme-preview__overlay theme-preview__overlay--mobile">
                                                        <!--<iframe class="theme-preview__iframe theme-preview__iframe&#45;&#45;mobile"
                                                                src="https://www-mybeautyfriend-com.myshopify.com/?_ab=0&amp;_fd=0&amp;_sc=1&amp;frame_token=OcF6RvUCES0D-kuhkfkev4ZkH7k8QYVABvqwkT6rkxQi1PlifJ4i1WqJI28x1OWEF90YWwlP6ihLx3GQlMDDSINRN9zQ04XY9ZNoH4Up8Vha-yFNCn8q6gUX6BaIH_klR119o_QoKiJ5ALl48TRxyw%3D%3D&amp;preview_theme_id="
                                                                sandbox="allow-scripts" scrolling="no" tabindex="-1"
                                                                style="transform: scale(0.388571);"></iframe>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="ui-annotated-section-container">
                        <div class="ui-annotated-section">
                            <div class="ui-annotated-section__annotation">
                                <div class="ui-annotated-section__title">
                                    <h2 class="ui-heading">More themes</h2>
                                </div>
                                <div class="ui-annotated-section__description">
                                    <p>Manage your store's themes. Add and publish themes to change your online store's
                                        appearance.</p>
                                    <button class="ui-button"
                                            type="button" name="button">
                                        <svg class="next-icon next-icon--size-12">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#next-import-minor"></use>
                                        </svg>
                                        <span>Upload theme</span>
                                    </button>
                                </div>
                            </div>
                            <div class="ui-annotated-section__content">
                                <section class="ui-card">
                                    <div class="ui-card__section">
                                        <div class="ui-type-container">
                                            <ul class="themes-list">
                                                <li class="themes-list__row">
                                                    <div class="ui-stack ui-stack--alignment-leading">
                                                        <div class="ui-stack-item ui-stack-item--fill">
                                                            <div class="ui-stack ui-stack--wrap">
                                                                <div class="ui-stack-item themes-list__info themes-list__info--header">
                                                                    Theme name
                                                                </div>
                                                                <div class="ui-stack-item themes-list__date themes-list__info--header">
                                                                    Last edited
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ui-stack-item themes-list__actions">
                                                            &nbsp;
                                                        </div>
                                                    </div>
                                                </li>
                                                <li *ngFor="let theme of dataTheme; let i=index"
                                                    class="themes-list__row" id="theme_{{theme.id}}">
                                                    <div class="ui-stack ui-stack--alignment-leading theme-list__flex-container">
                                                        <div class="ui-stack-item ui-stack-item--fill">
                                                            <div class="ui-stack ui-stack--wrap">
                                                                <div class="ui-stack-item themes-list__info">
                                                                    <p class="themes-list__theme-title">
                                                                        {{theme.name}}
                                                                    </p>
                                                                </div>
                                                                <div class="ui-stack-item themes-list__date"
                                                                     [class.themes-list__date--empty]="!theme.updated_at">
                                                                    <p>{{theme.updated_at || '-' }}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="ui-stack-item themes-list__actions">
                                                            <div class="ui-popover__container ui-popover__container--contains-active-popover">
                                                                <button class="ui-button btn--link" type="button"
                                                                        name="button">
                                                                    Actions
                                                                    <svg class="next-icon next-icon--size-20">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             xlink:href="#next-disclosure">
                                                                        </use>
                                                                    </svg>
                                                                </button>
                                                                <div class="ui-popover ui-popover--align-edge ui-popover--full-height ui-popover--is-active"
                                                                     [ngStyle]="{'max-width': 'none',
                                                                      'margin-right': '0px',
                                                                       'margin-left': '0px',
                                                                       'transform-origin': '128px calc(100% + 5px) 0px',
                                                                       'left': '-94px'}">
                                                                    <div class="ui-popover__tooltip"></div>
                                                                    <div class="ui-popover__content-wrapper">
                                                                        <div class="ui-popover__content">
                                                                            <div class="ui-popover__pane">
                                                                                <div class="ui-popover__section ui-popover__section--no-padding">
                                                                                    <ul class="ui-action-list">
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="https://www-mybeautyfriend-com.myshopify.com/?preview_theme_id=8861089822"
                                                                                               class="ui-action-list-action"
                                                                                               data-trekkie-button-label="Preview unpublished theme"
                                                                                               target="_blank"
                                                                                               rel="noopener noreferrer"><span
                                                                                                    class="ui-action-list-action__text">Preview</span></a>
                                                                                        </li>
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"><span
                                                                                                    class="ui-action-list-action__text">Publish</span>
                                                                                            </button>
                                                                                        </li>
                                                                                        <div data-modal-context-ref-for="publishTheme8861089822Modal"></div>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="ui-popover__section ui-popover__section--no-padding">
                                                                                    <ul class="ui-action-list">
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"><span
                                                                                                    class="ui-action-list-action__text">Rename</span>
                                                                                            </button>
                                                                                        </li>
                                                                                        <div data-modal-context-ref-for="updateTheme8861089822Modal"></div>
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/8861089822/duplicate"
                                                                                               class="ui-action-list-action "
                                                                                               tg-remote="post"
                                                                                               data-trekkie-button-label="Duplicate unpublished theme"><span
                                                                                                    class="ui-action-list-action__text">Duplicate</span></a>
                                                                                        </li>

                                                                                        <div data-modal-context-ref-for="downloadTheme8861089822Modal"></div>
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"><span
                                                                                                    class="ui-action-list-action__text">Download theme file</span>
                                                                                            </button>
                                                                                        </li>

                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/8861089822"
                                                                                               class="ui-action-list-action"><span
                                                                                                    class="ui-action-list-action__text">Edit code</span></a>
                                                                                        </li>
                                                                                        <li class="ui-action-list__item">
                                                                                            <a href="/admin/themes/8861089822/language"
                                                                                               class="ui-action-list-action"><span
                                                                                                    class="ui-action-list-action__text">Edit languages</span></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="ui-popover__section ui-popover__section--no-padding">
                                                                                    <ul class="ui-action-list">
                                                                                        <div data-modal-context-ref-for="deleteTheme8861089822Modal"></div>
                                                                                        <li class="ui-action-list__item">
                                                                                            <button class="ui-action-list-action"
                                                                                                    type="button"
                                                                                                    name="button"><span
                                                                                                    class="ui-action-list-action__text">Remove</span>
                                                                                            </button>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a class="themes-list__customize"
                                                               data-trekkie-button-label="Customize unpublished theme"
                                                               data-no-turbolink=""
                                                               href="/admin/themes/8861089822/editor">Customize</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                                <section class="ui-card">
                                    <div class="ui-card__section">
                                        <div class="ui-type-container">
                                            <ul class="find-themes-list">
                                                <li class="find-themes-list__row">
                                                    <div class="ui-stack ui-stack--alignment-leading">
                                                        <div class="ui-stack-item find-themes-list__row-avatar find-themes-list__row-avatar--purple">
                                                            <svg class="next-icon next-icon--color-white next-icon--size-24">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     xlink:href="#next-themes"></use>
                                                            </svg>
                                                        </div>
                                                        <div class="ui-stack-item ui-stack-item--fill">
                                                            <div class="ui-stack ui-stack--wrap">
                                                                <div class="ui-stack-item find-themes-list__row-title-description">
                                                                    <h3 class="ui-heading">Free themes</h3>
                                                                    <p>Explore Shopify's free themes, all designed to
                                                                        offer the best home page customization.</p>
                                                                </div>
                                                                <div class="ui-stack-item find-themes-list__row-action">
                                                                    <button class="ui-button find-themes-list__row-action-button"
                                                                            type="button" name="button">Explore free
                                                                        themes
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="find-themes-list__row">
                                                    <div class="ui-stack ui-stack--alignment-leading">
                                                        <div class="ui-stack-item find-themes-list__row-avatar find-themes-list__row-avatar--green">
                                                            <svg class="next-icon next-icon--color-white next-icon--size-24">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                     xlink:href="#next-online-store">
                                                                    <svg id="next-online-store" width="100%"
                                                                         height="100%">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 20 20">
                                                                            <path fill="currentColor"
                                                                                  d="M19 6c0 1.657-1.343 3-3 3s-3-1.343-3-3c0 1.657-1.343 3-3 3S7 7.657 7 6c0 1.657-1.343 3-3 3S1 7.657 1 6V5l2-4h14l2 4v1z"></path>
                                                                            <path d="M16 8c-1.103 0-2-.897-2-2h4c0 1.103-.897 2-2 2zm0 6H4v-4c1.193 0 2.267-.525 3-1.357C7.733 9.475 8.807 10 10 10s2.267-.525 3-1.357c.733.832 1.807 1.357 3 1.357v4zm-3.28 4H7.28c.358-.702.537-1.434.628-2h4.184c.09.566.27 1.298.627 2zM12 6c0 1.103-.897 2-2 2s-2-.897-2-2h4zM2 6h4c0 1.103-.897 2-2 2s-2-.897-2-2zm1.618-4h12.764l1 2H2.618l1-2zm16.277 2.553l-2-4C17.725.213 17.38 0 17 0H3c-.38 0-.725.214-.895.553l-2 4C.035 4.69 0 4.845 0 5v1c0 1.474.81 2.75 2 3.444V15c0 .552.447 1 1 1h2.87c-.156.747-.507 1.7-1.317 2.105-.415.208-.633.673-.527 1.125.108.45.51.77.974.77h10c.464 0 .866-.32.974-.77.106-.452-.112-.917-.527-1.125-.8-.4-1.153-1.356-1.313-2.105H17c.553 0 1-.448 1-1V9.444c1.19-.694 2-1.97 2-3.444V5c0-.155-.036-.31-.105-.447z"></path>
                                                                        </svg>
                                                                    </svg>
                                                                </use>
                                                            </svg>
                                                        </div>
                                                        <div class="ui-stack-item ui-stack-item--fill">
                                                            <div class="ui-stack ui-stack--wrap">
                                                                <div class="ui-stack-item find-themes-list__row-title-description">
                                                                    <h3 class="ui-heading">Shopify Theme Store</h3>
                                                                    <p>Browse free and selected paid themes using search
                                                                        and filter tools.</p>
                                                                </div>
                                                                <div class="ui-stack-item find-themes-list__row-action">
                                                                    <a href="https://themes.shopify.com/?shop=www-mybeautyfriend-com.myshopify.com&amp;utm_campaign=themes&amp;utm_content=contextual&amp;utm_medium=shopify&amp;utm_source=admin"
                                                                       class="btn find-themes-list__row-action-button"
                                                                       target="_blank" rel="noopener noreferrer">Visit
                                                                        Theme Store</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                    <div class="ui-footer-help">
                        <div class="ui-footer-help__content">
                            <div class="ui-footer-help__icon">
                                <svg class="next-icon next-icon--size-24 next-icon--no-nudge" role="img"
                                     aria-labelledby="next-help-circle-6397eea2b563253793ee479b5d0fab0b-title"><title
                                        id="next-help-circle-6397eea2b563253793ee479b5d0fab0b-title">Help</title>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#next-help-circle"></use>
                                </svg>
                            </div>
                            <div>
                                <p>Learn more about <a href="//docs.shopify.com/themes">creating or customizing
                                    themes</a>.</p>
                            </div>
                        </div>
                    </div>
                    <!--Modal wrapper-->
                    <div [class.ui-modal-contents--is-visible]="onHidden()" id="UIModalContents"
                         class="ui-modal-contents">
                        <div [class.visible]="onHidden()" class="modal-bg" id="modal_backdrop" tabindex="0"></div>
                        <!--Modals-->
                        <div id="updateTheme159704714Modal"
                             class="ui-modal"
                             [class.ui-modal--is-visible]="isShowUpdateTheme != ''"
                             role="dialog"
                             aria-hidden="false" aria-labelledby="updateTheme159704714Modal_heading"
                             tabindex="-1"
                             [ngStyle]="{'z-index': '1000'}">
                            <form id="rename_theme_form" (submit)="submitUpdate()">
                                <div class="ui-modal__header">
                                    <div class="ui-modal__header-title">
                                        <h2 class="ui-title"
                                            id="updateTheme159704714Modal_heading">Rename theme
                                        </h2>
                                    </div>
                                    <div class="ui-modal__header-actions">
                                        <div class="ui-modal__close-button">
                                            <button class="ui-button ui-button--transparent" aria-label="Close modal"
                                                    type="button" name="button"
                                                    (click)="isShowUpdateTheme = ''">
                                                <svg class="next-icon next-icon--color-ink-lighter next-icon--size-20">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="#cancel-small-minor"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-modal__body">
                                    <div class="ui-modal__section">

                                        <div class="next-input-wrapper">
                                            <label class="next-label" for="new-theme-name">Provide
                                                a new name for this theme</label>
                                            <input type="text" name="theme[name]"
                                                   id="new-theme-name"
                                                   [value]="isShowUpdateTheme"
                                                   class="next-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-modal__footer">
                                    <div class="ui-modal__footer-actions">
                                        <div class="ui-modal__secondary-actions">
                                            <div class="button-group">
                                                <button class="ui-button"
                                                        type="button" name="button"
                                                        (click)="isShowUpdateTheme = ''">Cancel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="ui-modal__primary-actions">
                                            <div class="button-group button-group--right-aligned">
                                                <button class="ui-button ui-button--primary js-btn-loadable js-btn-primary btn-primary has-loading"
                                                        type="submit" name="commit">Rename
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--END Modals-->
                    </div>
                    <!--END Modal wrapper-->
                </div>
            </div>
        </div>
    </div>
</main>