$base-text-font-family: 'Open Sans', sans-serif;
$base-number-font-family: 'Oswald', sans-serif;

$base-font-size: 16px;

$text-color: #484848;
$title-color-introdute: #757575;
$title-color: #ea1821;
$background-color: #f4f6f8;
$grey-color: #919eab;
$background-color-main: #F1F1F1;
$chart-yellow-1: #ffb526;
$chart-yellow-2: #ffa722;
$chart-red-1: #ea1821;
$chart-red-2: #ff4700;
$border-color: #c4cdd5;
$color-promotion: #ff5a00;
$px-to-vh: 7.56;
$noti: #bdbdbd;
$black-color: #000;
$color-option1: #29bc94;
$color-option2: #763eaf;
$color-option3: #ff9517;
$color-focus-bulk: #5c6ac4;


