<div (onHidden)="popupProductTag.hide()" [config]="{ show: false }" bsModal #popupProductTag="bs-modal"
     class="wrap-popup">
  <div class="modal modal-animate" data-tg-refresh="modal" id="modal_container" style="display: block;"
       aria-hidden="false" aria-labelledby="ModalTitle" tabindex="-1">
    <div>
      <header>
        <h2 id="ModalTitle">
          {{ titleProductTag}}
          <span class="hide">all</span>
          <span></span><span class="hide"> matching your search</span>?
        </h2>
        <button (click)="popupProductTag.hide()" class="ui-button btn--link close-modal" type="button" name="button">
          Close modal
        </button>
      </header>
      <div class="body" id="bulk_add_tags">
        <label><span
          class="type--subdued">Tag with descriptive keywords to easily organize them.</span></label>
        <div class="tokenized">
          <label class="next-label">
            <div class="next-label ">Tags</div>
            <tag-input [modelAsStrings]="true" [(ngModel)]='selectedTag'></tag-input>
          </label>
          <div class="previous-tags">
            <p class="sb st">Select existing tags to be added:</p>
            <ul *ngIf="listTags.length" class="next-token-list js-addtags">
              <li *ngFor="let tag of listTags" (click)="selectedTag.indexOf(tag) == -1 ? addTag(tag) : ''"
                  [class.next-token--is-disabled]="selectedTag.indexOf(tag) != -1"
                  class="next-token next-token--clickable js-tag" data-tag="basic-care">
                <span class="next-token__label js-tag-text">{{tag}}</span>
              </li>

            </ul>
            <a [hidden]="listTags.length == listTagsTemp.length" (click)="loadmoreAllProductTag()"
               class="show-all-tags plain">Show all
              tags</a>
          </div>
        </div>

      </div>
      <div class="buttons">
        <button (click)="popupProductTag.hide()" class="ui-button close-modal" type="button" name="button">Cancel
        </button>
        <button (click)="bulkTags()"
                class="ui-button ui-button--primary js-btn-primary js-btn-loadable btn-primary has-loading"
                type="submit" name="commit" data-form-dirty="true">
          Apply changes
        </button>
      </div>
    </div>
  </div>
</div>
