<main id="AppFrameMain" class="ui-app-frame__main ">
  <div class="wrapper"
       id="wrapper">
    <div id="body" class="clearfix" data-tg-refresh="body">
      <div class="" id="content">

        <div class="page">


          <header class="ui-title-bar-container ui-title-bar-container--full-width">
            <div class="ui-title-bar">
              <div class="ui-title-bar__navigation">
                <div class="ui-breadcrumbs"><a href="javascript:;" routerLink="/collections"
                                               class="ui-button ui-button--transparent ui-breadcrumb">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-left-thinner"></use>
                  </svg>
                  <span class="ui-breadcrumb__item">Collections</span></a></div>
              </div>
              <div class="ui-title-bar__main-group">
                <div class="ui-title-bar__heading-group"><span class="ui-title-bar__icon"><svg
                  class="next-icon next-icon--color-slate-lighter next-icon--size-20"> <use
                  xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-products"></use> </svg></span>
                  <h1 class="ui-title-bar__title">Bulk editor</h1></div>
              </div>
            </div>
            <div class="collapsible-header">
              <div class="collapsible-header__heading"></div>
            </div>
          </header>
          <form [formGroup]="dataForm" (ngSubmit)="submitForm()">
            <div class="next-grid">
              <div class="next-grid__cell">
                <div class="next-card">
                  <div class="next-card__section">
                    <div class="ui-stack ui-stack--wrap ui-stack--vertical">
                      <label id="next-label--columns" refresh="columns">
                        Currently editing these fields:
                      </label>
                      <div class="next-token-list__wrapper" id="current_columns" refresh="columns">
                        <ul class="next-token-list next-token-list--bulk-editor">
                          <li ngif="headerTable.length" *ngFor="let header of headerTable;let i= index"
                              class="next-token">
                            <span class="next-token__label">{{header.name}}</span>
                            <a (click)="removeHeaderTable(i)" class="next-token__remove">
                            <span class="next-token__remove__icon">
                              <svg class="next-icon next-icon--size-10 next-icon--no-nudge"> <use
                                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-remove"></use> </svg>
                            </span>
                            </a>
                          </li>
                          <li>
                            <div class="ui-popover__container"
                                 (clickOutside)="isShowBulkAction = false"
                                 [attachOutsideOnClick]="true">
                              <button (click)="isShowBulkAction = !isShowBulkAction"
                                      class="ui-button btn-slim tooltip tooltip-bottom" type="button"
                                      name="button">
                                Add fields
                                <svg class="next-icon next-icon--size-20">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-disclosure"></use>
                                </svg>
                                <div class="tooltip-container">
                                  <span class="tooltip-label">No more editable fields</span>
                                </div>
                              </button>
                              <div [class.ui-popover--is-active]="isShowBulkAction"
                                   class="ui-popover ui-popover--reduced-spacing bulk-edit__popover ui-popover--is-active ui-popover--is-positioned-beneath"
                                   data-popover-horizontally-relative-to-closest=".next-card"
                                   data-popover-css-vertical-margin="13" data-popover-css-horizontal-margin="16"
                                   data-popover-css-max-height="300" data-popover-css-max-width="550" id="ui-popover--2"
                                   aria-labelledby="ui-popover-activator--2" aria-expanded="true" role="dialog"
                                   style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 275px -5px 0px; left: -221px;z-index: 10">
                                <div class="ui-popover__tooltip" style="left: 275px;"></div>
                                <div class="ui-popover__content-wrapper">
                                  <div class="ui-popover__content" style="max-height: 300px; width: 550px;">
                                    <div class="ui-popover__pane">
                                      <div class="ui-popover__section" style="min-width: 350px">
                                        <div
                                          class="next-grid next-grid--no-outside-padding next-grid--vertically-centered">
                                          <div class="next-grid__cell next-grid__cell--quarter">
                                            Attribution
                                          </div>
                                          <div class="next-grid__cell next-grid__cell--vertically-centered">
                                            <ul class="next-token-list">
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('title') != -1 "
                                                  (click)="checkHeaderTable('title') != -1 ? '' : addHeaderTable('title','Title')"
                                              >
                                                <span class="next-token__label">Title</span>
                                              </li>
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('template_suffix') != -1 "
                                                  (click)="checkHeaderTable('template_suffix') != -1 ? '' : addHeaderTable('template_suffix','Template')"
                                              >
                                                <span class="next-token__label">Template</span>
                                              </li>
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('published') != -1 "
                                                  (click)="checkHeaderTable('published') != -1 ? '' : addHeaderTable('published','Availability - Online Store')"
                                              >
                                                <span class="next-token__label">Availability - Online Store</span>
                                              </li>

                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="ui-popover__section" style="min-width: 350px">
                                        <div
                                          class="next-grid next-grid--no-outside-padding next-grid--vertically-centered">
                                          <div class="next-grid__cell next-grid__cell--quarter">
                                            Seo
                                          </div>
                                          <div class="next-grid__cell next-grid__cell--vertically-centered">
                                            <ul class="next-token-list">
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('metafield_title') != -1 "
                                                  (click)="checkHeaderTable('metafield_title') != -1 ? '' : addHeaderTable('metafield_title','Page title')"
                                              >
                                                <span class="next-token__label">Page title</span>
                                              </li>
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('metafield_description') != -1 "
                                                  (click)="checkHeaderTable('metafield_description') != -1 ? '' : addHeaderTable('metafield_description','Meta description')"
                                              >
                                                <span class="next-token__label">Meta description</span>
                                              </li>
                                              <li class="next-token next-token--clickable"
                                                  [class.next-token--is-disabled]="checkHeaderTable('handle') != -1 "
                                                  (click)="checkHeaderTable('handle') != -1 ? '' : addHeaderTable('handle','URL and handle')"
                                              >
                                                <span class="next-token__label">URL and handle</span>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <section class="next-card__section next-card__section--no-padding">
                    <app-alert></app-alert>
                    <div style="overflow: unset" class="spreadsheet__overflow">
                      <div [class.overflow-unset]="overflowUnser" class="spreadsheet__container" id="resource_table" refresh="bulk">
                        <div class="next-card__section next-card__section--no-padding">
                          <div class="spreadsheet"
                               *ngIf="dataForm.controls.collections.value.length && headerTable.length"
                               formArrayName="collections">
                            <div class="spreadsheet__header-group">
                              <div class="spreadsheet__cell spreadsheet__cell--dirty-indicator"></div>
                              <div class="spreadsheet__cell spreadsheet__cell--image"></div>

                              <div class="spreadsheet__cell spreadsheet__cell--row-title spreadsheet__cell--resizable"
                                   title="Title">
                                Title
                                <span class="spreadsheet__resize-handle"></span>
                              </div>
                              <ng-container *ngFor="let header of headerTable">
                                <div *ngIf="header.col != 'title'"
                                     class="spreadsheet__cell spreadsheet__cell--resizable spreadsheet__cell--type-string"
                                     title="{{header.col}}">
                                  {{header.name}}
                                  <span class="spreadsheet__resize-handle"></span>
                                </div>
                              </ng-container>
                            </div>
                            <div *ngFor="let data of dataForm.controls.collections.controls; let i=index "
                                 class="spreadsheet__row-group" [formGroupName]="i">
                              <div class="spreadsheet__row">
                                <div
                                  class="spreadsheet__cell spreadsheet__cell--dirty-indicator spreadsheet__cell--row-title">
                                  <div class="next-spinner next-spinner--is-hidden">
                                    <svg class="next-icon next-icon--size-12">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-spinner"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="spreadsheet__cell spreadsheet__cell--row-title spreadsheet__cell--image">
                                  <div class="aspect-ratio aspect-ratio--square aspect-ratio--no-visual-container">
                                    <img
                                      title="{{data.get('title').value}}"
                                      class="aspect-ratio__content"
                                      src="{{data.get('image_url').value }}"
                                      alt="{{data.get('title').value}}">
                                  </div>
                                </div>
                                <div tabindex="-1"
                                     class="spreadsheet__cell spreadsheet__cell--selectable product--title spreadsheet__cell--type-string">
                                  <div class="spreadsheet__drag-selection">
                                    <div class="next-input-wrapper">
                                      <input [readonly]="checkHeaderTable('title') == -1"
                                             type="text" [(ngModel)]="data.get('title').value"
                                             formControlName="title"
                                             size="1" class="next-input"></div>
                                  </div>
                                </div>
                                <ng-container *ngFor="let header of headerTable"
                                              ngif="header.col != 'title'">
                                  <ng-container [ngSwitch]="header.col">
                                    <div tabindex="-1" *ngSwitchCase="'published'" id="parent-tooltipDate-{{i}}"
                                         class="parent-tooltipDate spreadsheet__cell spreadsheet__cell--selectable publication--78540999-published_at spreadsheet__cell--type-publishing"
                                         data-custom-input="true">
                                      <div class="spreadsheet__drag-selection">
                                        <div class="next-input-wrapper">
                                          <div
                                            class="ui-stack ui-stack--wrap ui-stack--distribution-center ui-stack--alignment-center">
                                            <div class="ui-stack-item">
                                              <div class="next-input-wrapper next-input-wrapper--inline">
                                                <input
                                                  [(ngModel)]="data.get(header.col).value"
                                                  formControlName="{{header.col}}"
                                                  [checked]="data.get(header.col).value"
                                                  type="checkbox"
                                                  value="1"
                                                  class="next-checkbox"
                                                  checked="checked">
                                                <span class="next-checkbox--styled"><svg
                                                  class="next-icon next-icon--size-10 checkmark"> <use
                                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                                  xlink:href="#next-checkmark-thick"></use> </svg></span></div>
                                            </div>
                                            <div class="ui-stack-item">
                                              <div class="spreadsheet--future-publishable-container">
                                                <div (click)="showTooltip('tooltipDate-'+i)"
                                                     (clickOutside)="hideTooltip()"
                                                     [attachOutsideOnClick]="true"
                                                     class="ui-popover__container ui-popover__container--full-width-container ui-popover--spreadsheet"
                                                     spreadsheet-popover-trigger="1" context="futurePublishing">
                                                  <a class="visibility-options__action hide"
                                                  >
                                                    <svg role="img"
                                                         class="next-icon next-icon--color-blue next-icon--size-16"
                                                         aria-labelledby="next-calendar-4796e4d00b93865d2f62267b90b780c4-title">
                                                      <title id="next-calendar-4796e4d00b93865d2f62267b90b780c4-title">
                                                        Calendar icon</title>
                                                      <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                           xlink:href="#next-calendar"></use>
                                                    </svg>
                                                  </a>
                                                  <a
                                                    class="visibility-options__action">
                                                    <svg role="img"
                                                         class="next-icon next-icon--color-sky-darker next-icon--size-16"
                                                         aria-labelledby="next-calendar-8325cfa984d4d8fa76c7a9d4cebd651a-title">
                                                      <title id="next-calendar-8325cfa984d4d8fa76c7a9d4cebd651a-title">
                                                        Calendar icon</title>
                                                      <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                           xlink:href="#next-calendar"></use>
                                                    </svg>
                                                  </a>
                                                  <div
                                                    class="tooltipDate ui-popover ui-popover--is-positioned-beneath "
                                                    data-popover-preferred-position="bottom"
                                                    data-popover-relative-to-closest=".spreadsheet-container"
                                                    data-popover-css-vertical-margin="13"
                                                    data-popover-css-horizontal-margin="16"
                                                    data-popover-css-max-height="300"
                                                    data-popover-css-max-width="550"
                                                    id="tooltipDate-{{i}}"
                                                    aria-labelledby="ui-popover-activator--9"
                                                    aria-expanded="true" role="dialog"
                                                    style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 213px -5px 0px; left: -205px;z-index: 10">
                                                    <div class="ui-popover__tooltip" style="left: 213px;"></div>
                                                    <div class="ui-popover__content-wrapper">
                                                      <div class="ui-popover__content"
                                                           style="max-height: 241px; width: 300px;">
                                                        <div style="overflow: unset" class="ui-popover__pane">
                                                          <div class="ui-popover__section">
                                                            <p class="type--subdued sb">Publish on</p>
                                                            <div
                                                              class="next-grid next-grid--no-outside-padding next-grid--vertically-centered">
                                                              <div class="next-grid__cell">
                                                                <div class="next-field__connected-wrapper">
                                                                  <p-calendar
                                                                    #datePicker
                                                                    (onFocus)="overflowUnser = true"
                                                                    (onClose)="overflowUnser = false"
                                                                    (onSelect)="choseDate(datePicker.value,i)"
                                                                    [placeholder]="data.get('published_at').value | date: 'MM/dd/yyyy h:mm a'"
                                                                    [styleClass]="'date-picker-collections date-picker-collections-'+i"
                                                                    [inputStyleClass]="'input-date-picker next-input next-field--connected hasDatepicker'"
                                                                    hourFormat="12"
                                                                    [showTime]="true"></p-calendar>
                                                                </div>
                                                              </div>
                                                              <a (click)="unPublicCollection(i)"
                                                                class="btn btn--plain btn--plain--flush-right">
                                                                <svg
                                                                  class="next-icon next-icon--color-blue next-icon--size-20">
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                       xlink:href="#delete-minor"></use>
                                                                </svg>
                                                              </a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngSwitchCase="'template_suffix'" tabindex="-1"
                                         class="spreadsheet__cell spreadsheet__cell--selectable product--template_suffix spreadsheet__cell--type-select">
                                      <div class="spreadsheet__drag-selection">
                                        <div class="next-input-wrapper">
                                          <div class="ui-select__wrapper">
                                            <select formControlName="{{header.col}}"
                                                    id="product_template_suffix"
                                                    class="ui-select">
                                              <option [selected]="data.get(header.col).value == ''" value="">
                                                collection
                                              </option>
                                            </select>
                                            <svg class="next-icon next-icon--size-16">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                   xlink:href="#select-chevron"></use>
                                            </svg>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div *ngSwitchCase="'metafield_title'" tabindex="-1"
                                         class="spreadsheet__cell spreadsheet__cell--selectable product--metafields_global_title_tag spreadsheet__cell--type-string">
                                      <div class="spreadsheet__drag-selection">
                                        <div class="next-input-wrapper">
                                          <input type="text"
                                                 [(ngModel)]="data.get(header.col).value"
                                                 formControlName="{{header.col}}"
                                                 placeholder="{{data.get(header.col).value}}"
                                                 maxlength="70" size="1" class="next-input">
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngSwitchCase="'metafield_description'" tabindex="-1"
                                         class="spreadsheet__cell spreadsheet__cell--selectable product--metafields_global_description_tag spreadsheet__cell--type-text_area">
                                      <div class="spreadsheet__drag-selection">
                                        <div class="next-input-wrapper">
                                          <textarea
                                            formControlName="{{header.col}}"
                                            placeholder="{{data.get(header.col).value}}"
                                            maxlength="160" expanding="true"
                                            class="ui-text-area ui-text-area--expanding"
                                            style="height: 80px;" [innerHTML]="data.get(header.col).value">
                                          </textarea>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngSwitchCase="'handle'" tabindex="-1"
                                         class="spreadsheet__cell spreadsheet__cell--selectable product--handle spreadsheet__cell--type-string">
                                      <div class="spreadsheet__drag-selection">
                                        <div class="next-input-wrapper">
                                          <div class="next-input--stylized next-input--has-content">
                                            <span
                                              class="next-input__add-on next-input__add-on--before next-input__add-on--url-base">https://mybeautyfriend.com/collections/</span>
                                            <input
                                              type="text"
                                              [(ngModel)]="data.get(header.col).value"
                                              formControlName="{{header.col}}"
                                              id="product_handle"
                                              placeholder="{{data.get(header.col).value}}"
                                              class="next-input next-input--invisible"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="next-card__section">
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="ui-page-actions">
              <div class="ui-page-actions__container">
                <div class="ui-page-actions__actions ui-page-actions__actions--primary">
                  <div class="ui-page-actions__button-group">
                    <a class="btn" data-allow-default="1" routerLink="/collections">Cancel</a>
                    <button class="btn js-btn-primary js-btn-loadable btn-primary has-loading" name="button"
                            type="submit">Save
                      collection
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="ui-footer-help">
            <div class="ui-footer-help__content">
              <div class="ui-footer-help__icon">
                <svg class="next-icon next-icon--size-24 next-icon--no-nudge" role="img"
                     aria-labelledby="next-help-circle-5e107e7128f049fe34a958783b692e58-title"><title
                  id="next-help-circle-5e107e7128f049fe34a958783b692e58-title">Help</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-help-circle"></use>
                </svg>
              </div>
              <div>
                <p>
                  Use your arrow keys to switch between cells.<br>
                  Hold shift to select multiple cells.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
