<aside id="AppFrameAside" class="ui-app-frame__aside">
  <div class="aside-profile">
    <div class="aside-profile__button" aria-controls="AsideProfileMenu"
         aria-expanded="false" role="button">
      <button name="button" type="button" class="top-bar-button top-bar-button--profile"
              id="AccountMenuActivator">
        <div class="top-bar-profile">
          <div class="top-bar-profile__avatar">
                        <span class="user-avatar user-avatar--style-6">
                            <span class="user-avatar__initials">LN</span>
                            <img alt="" class="gravatar gravatar--size-thumb"
                                 srcset="//proxy.shopifycdn.com/68641d0de367430ad0df0c61b818a9f0a42d74313b69ed75e42cf073322e0e21/www.gravatar.com/avatar/99cf681ca32ed7d57baea20267a40234.jpg?s=120&amp;d=blank 2x"
                                 src="//proxy.shopifycdn.com/ae12163d64db5b02fdec126cefe92c3a750e359b83af3a920b4d204aead01307/www.gravatar.com/avatar/99cf681ca32ed7d57baea20267a40234.jpg?s=60&amp;d=blank">
                        </span>
          </div>
          <div class="top-bar-profile__summary">
            <p class="top-bar-profile__title">
              Lam Nguyen
            </p>
            <p class="top-bar-profile__description">
              mybeautyfriend
            </p>
          </div>
        </div>
      </button>
      <div class="aside-profile__icon">
        <svg class="next-icon next-icon--rotate-90 next-icon--size-20 next-icon--no-nudge">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-chevron"></use>
        </svg>
      </div>
    </div>

    <div class="aside-profile__menu" id="AsideProfileMenu" aria-hidden="true">
      <ul class="ui-action-list">
        <li class="ui-action-list__item">
          <a href="javascript:" class="ui-action-list-action">
                        <span class="ui-action-list-action__text">
                            <div class="ui-stack ui-stack--wrap ui-stack--alignment-center ui-stack--spacing-tight">
                                <div class="ui-stack-item">
                                    <svg role="img" class="next-icon next-icon--size-16"
                                         aria-labelledby="account-78314144429449de08c859fd0db7f051-title"><title
                                      id="account-78314144429449de08c859fd0db7f051-title">Profile icon</title>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#account"></use>
                                    </svg>
                                </div>
                                <div class="ui-stack-item ui-stack-item--fill">
                                    <span>Your profile</span>
                                </div>
                            </div>
                        </span>
          </a>
        </li>
        <li class="ui-action-list__item">
          <a href="javascript:" class="ui-action-list-action">
                        <span class="ui-action-list-action__text">
                            <div class="ui-stack ui-stack--wrap ui-stack--alignment-center ui-stack--spacing-tight">
                                <div class="ui-stack-item">
                                    <svg role="img" class="next-icon next-icon--size-16"
                                         aria-labelledby="minor-log-out-fb70ad2f94932c554076ce80b9c35001-title"><title
                                      id="minor-log-out-fb70ad2f94932c554076ce80b9c35001-title">Log out icon</title>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#minor-log-out"></use>
                                    </svg>
                                </div>
                                <div class="ui-stack-item ui-stack-item--fill">
                                    <span>Log out</span>
                                </div>
                            </div>
                        </span>
          </a>
        </li>
      </ul>
      <ul class="ui-action-list">
        <li class="ui-action-list__item">
          <a href="https://help.shopify.com/" class="ui-action-list-action"
             target="_blank" rel="noopener noreferrer">
            <span class="ui-action-list-action__text">Shopify Help Center</span>
          </a>
        </li>
        <li class="ui-action-list__item">
          <a href="https://ecommerce.shopify.com/forums"
             class="ui-action-list-action"
             target="_blank" rel="noopener noreferrer">
            <span class="ui-action-list-action__text">Community forums</span>
          </a>
        </li>
        <li class="ui-action-list__item">
          <a href="javascript:"
             class="ui-action-list-action">
            <span class="ui-action-list-action__text">Hire a Shopify Expert</span>
          </a>
        </li>
        <li class="ui-action-list__item">
          <button class="ui-action-list-action" type="button" name="button">
            <span class="ui-action-list-action__text">Keyboard shortcuts</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="ui-scrollable aside-scrollable">
    <div class="ui-scrollable__track" style="visibility: hidden;">
      <div class="ui-scrollable__scrollbar"></div>
    </div>
    <div class="ui-scrollable__scroll-content" style="padding: 0px 17px 17px 0px; margin: 0px -17px -17px 0px;">
      <div class="ui-scrollable__content" style="margin-bottom: -17px;">
        <div class="ui-scrollable__container">
          <nav class="ui-nav">
            <div class="ui-nav__heading ui-nav__heading--hidden">
              <div class="ui-nav__heading-label">
                <h3 class="ui-subheading ui-subheading--subdued"
                    id="MainNavigationNavHeading">Main navigation</h3>
              </div>
            </div>
            <ul class="ui-nav__group ui-nav__group--parent" aria-labelledby="MainNavigationNavHeading">
              <li class="ui-nav__item ui-nav__item--parent ui-nav__item--selected ui-rollup__item--force-show">
                <a routerLinkActive="ui-nav__item--selected" routerLink="/dashboard"
                   class="ui-nav__link ui-nav__link--parent">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#next-dashboard"></use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">{{ 'LANG.title_home_leftbar' | translate }} </span>
                </a>
              </li>
              <li routerLinkActive="ui-nav__item--child-selected ui-rollup__item--force-show"
                  [routerLinkActiveOptions]="{exact: true}" routerLink="/orders"
                  class="ui-nav__item ui-nav__item--parent">
                <a class="ui-nav__link ui-nav__link--parent"
                   aria-disabled="true" role="button">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-orders">
                    </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Orders</span>
                  <span class="ui-nav__badge hide">73</span>
                </a>

                <ul routerLinkActive="ui-rollup--show" routerLink="/orders"
                    class="ui-rollup ui-nav__group ui-nav__group--child" id="Rollup1">
                  <li routerLinkActive="ui-nav__item--selected" routerLink="/orders"
                      class="ui-nav__item ui-nav__item--child">
                    <a class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">All orders</span>
                    </a>
                  </li>
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">-->
                  <!--<a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">-->
                  <!--<span class="ui-nav__label ui-nav__label&#45;&#45;child">Drafts</span>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">-->
                  <!--<a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">-->
                  <!--<span class="ui-nav__label ui-nav__label&#45;&#45;child">Abandoned checkouts</span>-->
                  <!--</a>-->
                  <!--</li>-->
                </ul>
              </li>
              <li routerLinkActive="ui-nav__item--child-selected ui-rollup__item--force-show"
                  [routerLinkActiveOptions]="{exact: true}" class="ui-nav__item ui-nav__item--parent ">
                <a routerLink="/products" class="ui-nav__link ui-nav__link--parent"
                   aria-disabled="true" role="button">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#next-products">
                    </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Products</span>
                </a>
                <ul routerLinkActive="ui-rollup--show"
                    class="ui-rollup ui-nav__group ui-nav__group--child " id="Rollup2">
                  <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="ui-nav__item--selected"
                      routerLink="/products"
                      class="ui-nav__item ui-nav__item--child">
                    <a class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">All products</span>
                    </a>
                  </li>
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">-->
                  <!--<a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">-->
                  <!--<span class="ui-nav__label ui-nav__label&#45;&#45;child">Transfers</span>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">-->
                  <!--<a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">-->
                  <!--<span class="ui-nav__label ui-nav__label&#45;&#45;child">Inventory</span>-->
                  <!--</a>-->
                  <!--</li>-->
                  <li routerLinkActive="ui-nav__item--selected" routerLink="/collections"
                      class="ui-nav__item ui-nav__item--child">
                    <a href="javascript:" class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">Collections</span>
                    </a>
                  </li>
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">-->
                  <!--<a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">-->
                  <!--<span class="ui-nav__label ui-nav__label&#45;&#45;child">Gift cards</span>-->
                  <!--</a>-->
                  <!--</li>-->
                </ul>
              </li>
              <li class="ui-nav__item ui-nav__item--parent">
                <a routerLinkActive="ui-nav__item--selected" routerLink="/customers"
                   class="ui-nav__link ui-nav__link--parent">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#next-customers"></use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Customers</span>
                </a>
              </li>
              <!--<li class="ui-nav__item ui-nav__item&#45;&#45;parent">
                  <a class="ui-nav__link ui-nav__link&#45;&#45;parent" aria-controls="Rollup3"
                     aria-disabled="true" role="button">
                      <svg class="next-icon next-icon&#45;&#45;size-20 next-icon&#45;&#45;no-nudge">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                               xlink:href="#next-reports"></use>
                      </svg>
                      <span class="ui-nav__label ui-nav__label&#45;&#45;parent">Analytics</span>
                  </a>
                  <ul class="ui-rollup ui-nav__group ui-nav__group&#45;&#45;child" id="Rollup3">
                      <li class="ui-nav__item ui-nav__item&#45;&#45;child">
                          <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">
                              <span class="ui-nav__label ui-nav__label&#45;&#45;child">Dashboards</span>
                          </a>
                      </li>
                      <li class="ui-nav__item ui-nav__item&#45;&#45;child">
                          <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">
                              <span class="ui-nav__label ui-nav__label&#45;&#45;child">Reports</span>
                          </a>
                      </li>
                  </ul>
              </li>-->
              <!--<li class="ui-nav__item ui-nav__item&#45;&#45;parent">
                  <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;parent">
                  <svg class="next-icon next-icon&#45;&#45;size-20 next-icon&#45;&#45;no-nudge">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-discounts">
                      </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label&#45;&#45;parent">Discounts</span>
                  </a>
              </li>-->
              <!--<li class="ui-nav__item ui-nav__item&#45;&#45;parent">
                  <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;parent">
                  <svg class="next-icon next-icon&#45;&#45;size-20 next-icon&#45;&#45;no-nudge">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-apps">
                      </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label&#45;&#45;parent">Apps</span>
                  </a>
              </li>-->

            </ul>
            <div class="ui-nav__heading">
              <div class="ui-nav__heading-label">
                <h3 class="ui-subheading ui-subheading--subdued" id="SalesChannelsNavHeading">Sales
                  channels</h3>
              </div>
              <div class="ui-nav__action">
                <button class="ui-button ui-button--transparent ui-button--icon-only"
                        aria-label="Add channels" type="button" name="button">
                  <svg class="next-icon next-icon--size-20">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#next-add-circle-outline"></use>
                  </svg>
                </button>
              </div>
            </div>
            <ul class="ui-nav__group ui-nav__group--parent" aria-labelledby="SalesChannelsNavHeading">
              <li routerLinkActive="ui-nav__item--child-selected ui-rollup__item--force-show"
                  [routerLinkActiveOptions]="{exact: true}" class="ui-nav__item ui-nav__item--parent"
                  data-rollup-force-show-child-instance="true">
                <a routerLink="/themes" class="ui-nav__link ui-nav__link--parent" aria-controls="Rollup4"
                   aria-disabled="true" role="button">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="#online-store"></use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Online Store</span>
                </a>
                <div class="ui-nav__action">
                  <a class="ui-button ui-button--transparent ui-button--icon-only"
                     aria-label="View your online store"
                     target="_blank" rel="noopener noreferrer">
                    <svg class="next-icon next-icon--size-20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink"
                           xlink:href="#next-preview"></use>
                    </svg>
                  </a>
                </div>
                <ul routerLinkActive="ui-rollup--show" class="ui-rollup ui-nav__group ui-nav__group--child"
                    id="Rollup4">
                  <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="ui-nav__item--selected"
                      routerLink="/themes" class="ui-nav__item ui-nav__item--child">
                    <a
                      class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">Themes</span>
                    </a>
                  </li>
                  <!-- <li class="ui-nav__item ui-nav__item&#45;&#45;child">
                       <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">
                           <span class="ui-nav__label ui-nav__label&#45;&#45;child">Blog posts</span>
                       </a>
                   </li>-->
                  <li class="ui-nav__item ui-nav__item--child">
                    <a routerLink="/pages" class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">Pages</span>
                    </a>
                  </li>
                  <li class="ui-nav__item ui-nav__item--child">
                    <a routerLink="/navigation" class="ui-nav__link ui-nav__link--child">
                      <span class="ui-nav__label ui-nav__label--child">Navigation</span>
                    </a>
                  </li>
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">
                      <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">
                          <span class="ui-nav__label ui-nav__label&#45;&#45;child">Domains</span>
                      </a>
                  </li>-->
                  <!--<li class="ui-nav__item ui-nav__item&#45;&#45;child">
                      <a href="javascript:" class="ui-nav__link ui-nav__link&#45;&#45;child">
                          <span class="ui-nav__label ui-nav__label&#45;&#45;child">Preferences</span>
                      </a>
                  </li>-->
                </ul>
              </li>
              <li class="ui-nav__item ui-nav__item--parent">
                <a href="javascript:" class="ui-nav__link ui-nav__link--parent">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook">
                    </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Facebook</span>
                </a>
              </li>
            </ul>
            <div class="ui-nav__align-bottom-shim"></div>
            <ul class="ui-nav__group ui-nav__group--parent">
              <li class="ui-nav__item ui-nav__item--parent">
                <a href="javascript:" routerLink="/settings" class="ui-nav__link ui-nav__link--parent">
                  <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-settings">
                    </use>
                  </svg>
                  <span class="ui-nav__label ui-nav__label--parent">Settings</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-app-frame__aside-closer">
    <button class="ui-button ui-button--transparent ui-button--icon-only" aria-controls="AppFrameAside"
            aria-label="Close navigation" type="button" name="button">
      <svg class="next-icon next-icon--color-white next-icon--size-20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-remove"></use>
      </svg>
    </button>
  </div>
</aside>
