<div (onHidden)="popupChangeImageVariant.hide()" [config]="{ show: false }" bsModal
     #popupChangeImageVariant="bs-modal"
     class="wrap-popup">
  <div class="modal" data-tg-refresh="modal" id="modal_container" aria-hidden="false" aria-labelledby="ModalTitle"
       tabindex="-1" style="display: block;">
    <div>
      <div id="bulk-variant-images-modal" data-tg-refresh="bulk-variant-images-modal">
        <header>
          <h2>Update Images</h2>
          <a (click)="popupChangeImageVariant.hide()" href="javascript:" class="close-modal">x</a>
        </header>

        <div>

          <form>

            <div class="body body--no-padding">
              <div *ngIf="productImages.length" class="next-grid next-grid--multi-row">
                <div *ngFor="let image of productImages; let i=index" #imageVariant
                     class="next-grid__cell next-grid__cell--fifth">
                  <a (click)="imgIDVariantSelected=image.id"
                     [class.aspect-ratio--is-selected]="imgIDVariantSelected == image.id"
                     class="aspect-ratio aspect-ratio--square aspect-ratio--interactive "

                  >
                    <img class="aspect-ratio__content"
                         src="{{image.src}}">
                  </a>
                </div>
              </div>
            </div>

            <div class="buttons" id="variant_image_pagination" data-tg-refresh="variant_image_pagination">
              <ul class="fl segmented">
                <li>
                  <a class="btn tooltip tooltip-top disabled" data-tg-refresh-on-success="bulk-variant-images-modal"
                     data-tg-remote="get"
                     href="javascript:">
                    <span class="tooltip-container"><span class="tooltip-label">Previous</span></span>
                    <svg class="next-icon next-icon--rotate-180 next-icon--size-16">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-chevron"></use>
                    </svg>
                  </a></li>
                <li>
                  <a class="btn tooltip tooltip-top disabled" data-tg-refresh-on-success="bulk-variant-images-modal"
                     data-tg-remote="get"
                     href="javascript:">
                    <span class="tooltip-container"><span class="tooltip-label">Next</span></span>
                    <svg class="next-icon next-icon--size-16">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-chevron"></use>
                    </svg>
                  </a></li>
              </ul>

              <a (click)="changeImageVariant(-1)" href="javascript:"
                 class="btn fl sl btn-destroy">Remove images</a>
              <a (click)="popupChangeImageVariant.hide()" class="btn close-modal" href="javascript:">Cancel</a>

              <div class="styled-file-input">
                <div class="btn">
                  <span>Add image</span>
                  <input (change)="onFileChange($event)" #fileInput
                         accept="image/*" class="js-no-dirty" type="file">
                </div>
              </div>

              <input (click)="changeImageVariant(imgIDVariantSelected)" type="submit" value="Save"
                     class="btn js-btn-primary js-btn-loadable btn-primary has-loading"
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
