<header-main
  [isShowBar]="isShowBar"
  [isChanged]="isChanged"
  (reloadData)="update($event)">
</header-main>
<main id="AppFrameMain" class="ui-app-frame__main ">
  <div class="wrapper" id="wrapper">
    <div id="body" class="clearfix" data-tg-refresh="body">
      <div class="" id="content">
        <div id="customers-new" class="page">
          <form [formGroup]="customerForm" (ngSubmit)="submitForm();" autocomplete="off" class="address-form"
                id="new_customer">
            <header class="ui-title-bar-container ">
              <div class="ui-title-bar">
                <div class="ui-title-bar__navigation">
                  <div class="ui-breadcrumbs">
                    <a routerLink="/customers" class="ui-breadcrumb">
                      <svg class="next-icon next-icon--size-20 next-icon--no-nudge">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#chevron-left-thinner">
                          <svg id="chevron-left-thinner" width="100%" height="100%">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path
                                d="M12 16c-.256 0-.512-.098-.707-.293l-5-5c-.39-.39-.39-1.023 0-1.414l5-5c.39-.39 1.023-.39 1.414 0s.39 1.023 0 1.414L8.414 10l4.293 4.293c.39.39.39 1.023 0 1.414-.195.195-.45.293-.707.293z"></path>
                            </svg>
                          </svg>
                        </use>
                      </svg>
                      <span class="ui-breadcrumb__item">Customers</span>
                    </a>
                  </div>
                </div>
                <div class="ui-title-bar__main-group">
                  <div class="ui-title-bar__heading-group">
                    <span class="ui-title-bar__icon">
                      <svg class="next-icon next-icon--color-slate-lighter next-icon--size-20">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-customers">
                        </use>
                      </svg>
                    </span>
                    <h1 class="ui-title-bar__title">Add customer</h1>
                  </div>
                  <div class="action-bar">
                    <div class="ui-title-bar__mobile-primary-actions">
                      <div class="ui-title-bar__actions">
                        <button
                          class="ui-button ui-button--primary js-btn-loadable js-btn-primary ui-title-bar__action btn-primary has-loading"
                          type="submit" name="button">Save customer
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui-title-bar__actions-group">
                  <div class="ui-title-bar__actions">
                    <button
                      class="ui-button ui-button--primary js-btn-loadable js-btn-primary ui-title-bar__action btn-primary has-loading"
                      type="submit" name="button">Save customer
                    </button>
                  </div>
                </div>
              </div>
              <div class="collapsible-header">
                <div class="collapsible-header__heading"></div>
              </div>
            </header>
            <!--Customer Overview-->
            <app-alert></app-alert>
            <section class="ui-annotated-section-container">
              <div class="ui-annotated-section">
                <div class="ui-annotated-section__annotation">
                  <div class="ui-annotated-section__title">
                    <h2 class="ui-heading">Customer overview</h2>
                  </div>
                </div>
                <div class="ui-annotated-section__content">
                  <div class="next-card">
                    <div class="next-card__section">
                      <div class="ui-form__section" formGroupName="customer">
                        <div class="ui-form__group">
                          <div class="next-input-wrapper">
                            <label class="next-label" for="customer_first_name">First
                              name</label>
                            <input formControlName="first_name" class="next-input" size="30"
                                   type="text" name="customer[first_name]"
                                   id="customer_first_name">
                          </div>
                          <div class="next-input-wrapper">
                            <label class="next-label" for="customer_last_name">Last
                              name</label>
                            <input formControlName="last_name" class="next-input" size="30"
                                   type="text" name="customer[last_name]"
                                   id="customer_last_name">
                          </div>
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label" for="customer_email">Email</label>
                          <input formControlName="email" class="next-input" size="30"
                                 type="text" name="customer[email]" id="customer_email">
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label" for="customer_phone">Phone</label>
                          <input formControlName="phone" class="next-input" size="30"
                                 type="tel" name="customer[phone]" id="customer_phone">
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label next-label--switch"
                                 for="customer_accepts_marketing">Customer accepts
                            marketing</label>
                          <input formControlName="accept_marketing" class="next-checkbox"
                                 type="checkbox"
                                 name="customer[accepts_marketing]"
                                 id="customer_accepts_marketing">
                          <span class="next-checkbox--styled">
                                                        <svg class="next-icon next-icon--size-10 checkmark">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                               xlink:href="#next-checkmark-thick">

                                                          </use>
                                                        </svg>
                                                    </span>
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label next-label--switch"
                                 for="customer_tax_exempt">Customer is tax exempt</label>
                          <input formControlName="tax_exempt" class="next-checkbox"
                                 type="checkbox"
                                 name="customer[tax_exempt]" id="customer_tax_exempt">
                          <span class="next-checkbox--styled">
                                                        <svg class="next-icon next-icon--size-10 checkmark">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                               xlink:href="#next-checkmark-thick">

                                                          </use>
                                                        </svg>
                                                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--END Customer Overview-->
            <!--Default Address-->
            <section class="ui-annotated-section-container">
              <div class="ui-annotated-section">
                <div class="ui-annotated-section__annotation">
                  <div class="ui-annotated-section__title">
                    <h2 class="ui-heading">Address</h2>
                  </div>
                  <div class="ui-annotated-section__description">
                    <p>The primary address of this customer.</p>
                  </div>
                </div>
                <div class="ui-annotated-section__content">
                  <div class="next-card">
                    <div class="next-card__section">
                      <div class="ui-form__section" formGroupName="address">
                        <div class="ui-form__group">
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_first_name">First
                              name</label>
                            <input formControlName="first_name" class="next-input" size="30"
                                   type="text"
                                   name="customer[addresses_attributes][0][first_name]"
                                   id="customer_addresses_attributes_0_first_name">
                          </div>
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_last_name">Last
                              name</label>
                            <input formControlName="last_name" class="next-input" size="30"
                                   type="text"
                                   name="customer[addresses_attributes][0][last_name]"
                                   id="customer_addresses_attributes_0_last_name">
                          </div>
                        </div>
                        <div class="ui-form__group">
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_company">Company</label>
                            <input formControlName="company" class="next-input" size="30"
                                   type="text"
                                   name="customer[addresses_attributes][0][company]"
                                   id="customer_addresses_attributes_0_company">
                          </div>
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_phone">Phone</label>
                            <input formControlName="phone" class="next-input" size="30"
                                   type="text"
                                   name="customer[addresses_attributes][0][phone]"
                                   id="customer_addresses_attributes_0_phone">
                          </div>
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label"
                                 for="customer_addresses_attributes_0_address1">Address line
                            1</label>
                          <input formControlName="address1" class="next-input" size="30"
                                 type="text"
                                 name="customer[addresses_attributes][0][address1]"
                                 id="customer_addresses_attributes_0_address1">
                        </div>
                        <div class="next-input-wrapper">
                          <label class="next-label"
                                 for="customer_addresses_attributes_0_address2">Address line
                            2</label>
                          <input formControlName="address2" class="next-input" size="30"
                                 type="text"
                                 name="customer[addresses_attributes][0][address2]"
                                 id="customer_addresses_attributes_0_address2">
                        </div>
                        <div class="ui-form__group">
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_city">City</label>
                            <input formControlName="city" class="next-input" size="30"
                                   type="text"
                                   name="customer[addresses_attributes][0][city]"
                                   id="customer_addresses_attributes_0_city">
                          </div>
                          <div class="next-input-wrapper">
                            <label class="next-label"
                                   for="customer_addresses_attributes_0_zip">Zip/postal
                              code</label>
                            <input formControlName="zip" class="next-input" size="30"
                                   type="text" name="customer[addresses_attributes][0][zip]"
                                   id="customer_addresses_attributes_0_zip">
                          </div>
                        </div>
                        <div class="ui-form__group">
                          <div class="ui-form__element">
                            <div class="country-wrapper">
                              <div class="next-input-wrapper">
                                <label class="next-label"
                                       for="customer_addresses_attributes_0_country">Country</label>
                                <div class="ui-select__wrapper next-input--has-content">
                                  <select formControlName="country"
                                          class="ui-select js-country-select"
                                          id="customer_addresses_attributes_0_country">
                                    <option *ngFor="let country of countriesList;"
                                            [selected]="country.code == 'VN'"
                                            [value]="country.code">{{country.name}}
                                    </option>
                                  </select>
                                  <svg class="next-icon next-icon--size-16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#select-chevron">

                                    </use>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ui-form__element">
                            <div class="province-wrapper">
                              <div class="next-input-wrapper">
                                <label class="next-label"
                                       for="customer_address_province">Region</label>
                                <input formControlName="province"
                                       class="next-input js-province-select"
                                       x-autocompletetype="province" size="30"
                                       type="text"
                                       name="customer_address[province]"
                                       id="customer_address_province"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--END default Address-->
            <!--Note-->
            <section class="ui-annotated-section-container">
              <div class="ui-annotated-section">
                <div class="ui-annotated-section__annotation">
                  <div class="ui-annotated-section__title">
                    <h2 class="ui-heading">Notes</h2>
                  </div>
                  <div class="ui-annotated-section__description">
                    <p>Enter any extra notes relating to this customer.</p>
                  </div>
                </div>
                <div class="ui-annotated-section__content">
                  <div class="next-card">
                    <div class="next-card__section" formGroupName="customer">
                      <div class="next-input-wrapper">
                        <label class="next-label" for="customer_note">Note</label>
                        <textarea formControlName="note"
                                  placeholder="Add a note to this customer…" expanding="true"
                                  class="ui-text-area ui-text-area--expanding"
                                  name="customer[note]" id="customer_note"
                                  style="height: 34px;">
                        </textarea>
                        <div class="only-when-printing"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--END Note-->
            <!--Tags-->
            <section class="ui-annotated-section-container">
              <div class="ui-annotated-section" data-context="taggable">
                <div class="ui-annotated-section__annotation">
                  <div class="ui-annotated-section__title">
                    <h2 class="ui-heading">Tags</h2></div>
                  <div class="ui-annotated-section__description">
                    <p>Tags can be used to categorize customers into groups.</p>
                  </div>
                </div>
                <div class="ui-annotated-section__content">
                  <div class="next-card">
                    <div class="next-card__section">
                      <div class="tokenized">
                        <label class="next-label">
                          <div class="next-label ">Tags</div>
                          <div class="next-token-list__wrapper">
                            <ul
                              class="next-token-list next-token-list--is-input tagit ui-widget ui-widget-content ui-corner-all">
                              <li *ngFor="let tag of newTag; let i=index"
                                  class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable">
                                <span class="tagit-label">{{tag}}</span>
                                <a class="tagit-close" (click)="removeTag(tag)">
                                  <span class="text-icon">×</span>
                                  <span class="ui-icon ui-icon-close"></span>
                                </a>
                              </li>
                              <li class="tagit-new">
                                                                <span role="status" aria-live="polite"
                                                                      class="ui-helper-hidden-accessible"></span>
                                <input type="text"
                                       class="ui-widget-content ui-autocomplete-input"
                                       placeholder="Wholesale, referral, trade show"
                                       autocomplete="off"
                                       [ngStyle]="{'width': '100%'}"
                                       (focus)="setTagTerms()"
                                       (keydown)="tagTerms.next($event)">
                              </li>
                            </ul>

                          </div>
                        </label>
                        <div class="previous-tags">
                          <p class="sb st">Add existing tags:</p>
                          <ul class="next-token-list js-addtags">
                            <li *ngFor="let tag of customerTag; let i=index"
                                (click)="addTag(tag)"
                                class="next-token next-token--clickable js-tag">
                              <span class="next-token__label js-tag-text">{{tag}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--END tags-->
            <div class="section section--no-border">
              <div class="next-grid next-grid--right-aligned">
                <div class="next-grid__cell next-grid__cell--no-flex">
                  <a class="btn" routerLink="/customers">Cancel</a>
                  <button name="button" type="submit"
                          class="btn js-btn-primary js-btn-loadable btn-primary has-loading" [disabled]="!isChanged">Save
                    customer
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
