<div class="ui-layout__item">
  <div class="next-card next-card--aside">
    <header class="next-card__header">
      <div class="wrappable wrappable--half-spacing wrappable--vertically-centered">
        <div class="wrappable__item">
          <h3 class="next-heading">Tags</h3>
        </div>
        <div class="wrappable__item wrappable__item--no-flex">
          <a (click)="popupAllTag.show()">View all tags</a>
        </div>
      </div>
    </header>

    <section class="next-card__section"
             (clickOutside)="clickOutSide()"
             [attachOutsideOnClick]="true">
      <div context="tagDisplay" id="tags-event-bus">
        <div class="ui-popover__container ui-popover__container--full-width-container"
             data-context="tagsAutocomplete">
          <div class="">
            <input class="next-input next-field--connected js-no-dirty"
                   (focus)="showFreqTags()"
                   placeholder="VIP, sale shopper, etc."
                   id="tags"
                   size="30"
                   type="text" aria-expanded="false"
                   aria-haspopup="false"
                   aria-owns="popover-dropdown-2"
                   aria-controls="popover-announce-selected"
                   role="combobox"
                   #inputTags
                   (keyup)="boxSearchTags.next(inputTags.value)">
          </div>
          <div *ngIf="errorMessageTag" class="tooltip-error attached-to-bottom">
            <ul class="error-list">
              <li>You've already used this tag.</li>
            </ul>
          </div>
          <!--Freq tags-->
          <div
            class="ui-popover ui-popover--full-width ui-popover--no-focus ui-popover--is-positioned-above"
            [class.ui-popover--is-active]="isShowFreqTags"
            ertical-margin="13" id="ui-popover--9"
            aria-labelledby="tags" aria-expanded="true"
            role="dialog"
            style="margin-right: 0px; margin-left: 0px; transform-origin: 50% calc(100% + 5px) 0px;">
            <div class="ui-popover__tooltip"></div>
            <div class="ui-popover__content-wrapper">
              <div class="ui-popover__content"
                   style="max-height: 297px;">
                <div class="ui-popover__pane">
                  <ul
                    class="js-autocomplete-suggestions next-list next-list--compact next-list--toggles"
                    role="listbox" id="popover-dropdown-4">
                    <li *ngIf="tagSearch == ''" role="option">
                      <h3 class="next-heading next-heading--micro-uppercase-bordered">
                        Frequently used tags</h3>
                    </li>
                    <li *ngIf="tagSearch !== ''" role="option">
                      <a class="next-list__item next-list__item--promoted-action">
                        <div class="next-grid next-grid--no-outside-padding next-grid--compact">
                          <div
                            class="next-grid__cell next-grid__cell--no-flex next-grid__cell--vertically-centered">
                            <svg style="overflow: visible; /* fixes clipping in Chrome */"
                                 class="next-icon next-icon--size-12 next-icon next-icon--12 block">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="#next-add-circle"></use>
                            </svg>
                          </div>
                          <div class="next-grid__cell" (click)="addRemoveTag(inputTags.value, true)">
                            <strong>Add</strong> "{{tagSearch}}"
                          </div>
                        </div>
                      </a>
                    </li>
                    <li *ngFor="let tag of dataTagsTemp;"
                        role="option"
                        (click)="addRemoveTag(tag, false)">
                      <a class="next-list__item">
                        {{tag}}
                      </a>
                    </li>
                  </ul>
                  <div class="ui-popover__section"
                       [class.hide]="!loadingResults">
                    <p class="type--subdued tc">
                      <span class="next-spinner">
                          <svg
                            class="next-icon next-icon--size-16">
                              <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="#next-spinner">
                              </use>
                          </svg>
                      </span>
                      Loading…
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--END Freq tags-->
        </div>
        <!--Display tag-->
        <ul class="js-tag-list next-token-list st">
          <li *ngFor="let tag of tagsExists" class="next-token">
            <span class="next-token__label">{{ tag }}</span>
            <a class="next-token__remove"
               (click)="addRemoveTag(tag, false)">
                <span class="next-token__remove__icon">
                    <svg class="next-icon next-icon--size-10 next-icon--no-nudge">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink"
                           xlink:href="#next-remove"></use>
                    </svg>
                </span>
            </a>
          </li>
        </ul>
        <!--END Display tag-->
      </div>
    </section>
  </div>
</div>
<div (onHidden)="popupAllTag.hide()" [config]="{ show: false }" bsModal=""
     #popupAllTag="bs-modal"
     class="wrap-popup">
  <div class="modal" data-tg-refresh="modal" aria-hidden="false" aria-labelledby="ModalTitle"
       tabindex="-1"
       style="display: block;">
    <div>
      <div context="allTagsModal">
        <header>
          <h2 id="ModalTitle">Tags</h2>
          <a href="javascript:void(0)" (click)="cancelChange()"
             class="close-modal" role="button" aria-label="Close dialog">x</a>
        </header>
        <div class="body body--no-padding">
          <div class="next-card__section">
            <h2 class="next-heading next-heading--small">Applied tags</h2>
            <p *ngIf="!tagsExists.length" class="sb">Select previously used tags
              from the list below to add them to
              this ...</p>
            <ul *ngIf="tagsExists.length"
                class="next-token-list next-token-list--expanded js-tag-list">
              <!-- Tags list will go here -->
              <li *ngFor="let tag of tagsExists;"
                  class="next-token">
                <span class="next-token__label">{{ tag }}</span>
                <a class="next-token__remove"
                   (click)="addRemoveTag(tag, false)">
                                  <span class="next-token__remove__icon">
                                      <svg class="next-icon next-icon--size-10 next-icon--no-nudge">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                               xlink:href="#next-remove">
                                          </use>
                                      </svg>
                                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="next-card__section" id="tags-list" refresh="tags-list">
            <div class="next-grid next-grid--no-outside-padding next-grid--vertically-centered">
              <div class="next-grid__cell">
                <h2 class="next-heading next-heading--small next-heading--no-margin">
                  All Tags</h2>
              </div>

              <div class="next-grid__cell next-grid__cell--no-flex">
                <span class="next-label next-label--inline sr">Sort:</span>
                <ul class="segmented">
                  <!--<li><a class="btn btn-slim active" href="#">Alphabetically</a></li>
                  <li><a class="btn btn-slim " href="#">Popularity</a></li>-->
                </ul>
              </div>
            </div>
            <ul class="next-token-list next-token-list--expanded sst">
              <li *ngFor="let tag of dataTags"
                  (click)="addRemoveTag(tag, false)"
                  class="next-token next-token--clickable"
                  [class.next-token--is-inactive]="isActiveTag(tag)">
                <span class="next-token__label">{{tag}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="buttons">
          <a class="btn close-modal" href="javascript:void(0)"
             (click)="cancelChange()">Cancel</a>
          <a class="btn close-modal btn-primary" href="javascript:void(0)" (click)="popupAllTag.hide()">Apply
            changes</a>
        </div>
      </div>
    </div>
  </div>
</div>
