<div (onHidden)="popupCustomerTag.hide()" [config]="{ show: false }" bsModal
     #popupCustomerTag="bs-modal"
     class="wrap-popup">
    <div class="modal" data-tg-refresh="modal" aria-hidden="false" aria-labelledby="ModalTitle"
         tabindex="-1"
         style="display: block;">
        <div>
            <div context="allTagsModal">
                <header>
                    <h2 id="ModalTitle">Tags</h2>
                    <a href="javascript:void(0)" (click)="cancelChange()"
                       class="close-modal" role="button" aria-label="Close dialog">x</a>
                </header>
                <div class="body body--no-padding">
                    <div class="next-card__section">
                        <h2 class="next-heading next-heading--small">Applied tags</h2>
                        <p *ngIf="!appliedTags.length" class="sb">Select previously used tags
                            from the list below to add them to
                            this customer.</p>
                        <ul *ngIf="appliedTags.length"
                            class="next-token-list next-token-list--expanded js-tag-list">
                            <!-- Tags list will go here -->
                            <li *ngFor="let tag of appliedTags; let i=index;"
                                class="next-token">
                                <span class="next-token__label">{{tag}}</span>
                                <a class="next-token__remove"
                                   (click)="appliedTags = removeTag(appliedTags, tag)">
                                  <span class="next-token__remove__icon">
                                      <svg class="next-icon next-icon--size-10 next-icon--no-nudge">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                               xlink:href="#next-remove">
                                          </use>
                                      </svg>
                                  </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="next-card__section" id="tags-list" refresh="tags-list">
                        <div class="next-grid next-grid--no-outside-padding next-grid--vertically-centered">
                            <div class="next-grid__cell">
                                <h2 class="next-heading next-heading--small next-heading--no-margin">
                                    All Tags</h2>
                            </div>

                            <div class="next-grid__cell next-grid__cell--no-flex">
                                <span class="next-label next-label--inline sr">Sort:</span>
                                <ul class="segmented">
                                    <!--<li><a class="btn btn-slim active" href="#">Alphabetically</a></li>
                                    <li><a class="btn btn-slim " href="#">Popularity</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <ul class="next-token-list next-token-list--expanded sst">
                            <li *ngFor="let tag of customerTags"
                                (click)="addTag(appliedTags, tag)"
                                class="next-token next-token--clickable next-token--is-inactive">
                                <span class="next-token__label">{{tag}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttons">
                    <a class="btn close-modal" href="javascript:void(0)"
                       (click)="cancelChange()">Cancel</a>
                    <a class="btn close-modal btn-primary" href="javascript:void(0)" (click)="applyChange()">Apply
                        changes</a>
                </div>
            </div>
        </div>
    </div>
</div>
