<main id="AppFrameMain" class="ui-app-frame__main ">
  <div class="wrapper"
       id="wrapper">
    <div id="body" class="clearfix">
      <div id="content">
        <div id="pages-index" class="page pages-page has-contextual-help">
          <!--Header-->
          <header class="ui-title-bar-container ui-title-bar-container--full-width">
            <div class="ui-title-bar">
              <div class="ui-title-bar__main-group">
                <div class="ui-title-bar__heading-group">
                                    <span class="ui-title-bar__icon">
                                        <svg class="next-icon next-icon--color-slate-lighter next-icon--size-20">
                                            <use xlink:href="#next-pages"></use>
                                        </svg>
                                    </span>
                  <h1 class="ui-title-bar__title">Pages</h1>
                </div>
                <!--<div class="action-bar">
                    <div class="action-bar__item action-bar__item&#45;&#45;link-container">
                        <div class="action-bar__top-links">
                            <button class="ui-button ui-button&#45;&#45;transparent action-bar__link"
                                    type="button" name="button">
                                <svg class="next-icon next-icon&#45;&#45;size-20 action-bar__link-icon next-icon&#45;&#45;no-nudge">
                                    <use xlink:href="#next-import-minor">
                                        <svg id="next-import-minor" width="100%" height="100%">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path d="M13.707 6.707a.996.996 0 0 1-1.414 0L11 5.414V13a1 1 0 1 1-2 0V5.414L7.707 6.707a1 1 0 0 1-1.414-1.414l3-3a1 1 0 0 1 1.414 0l3 3a1 1 0 0 1 0 1.414zM17 18H3a1 1 0 1 1 0-2h14a1 1 0 1 1 0 2z"></path>
                                            </svg>
                                        </svg>
                                    </use>
                                </svg>
                                Import pages
                            </button>
                            <button class="ui-button ui-button&#45;&#45;transparent action-bar__link"
                                    type="button" name="button">
                                <svg class="next-icon next-icon&#45;&#45;size-20 action-bar__link-icon next-icon&#45;&#45;no-nudge">
                                    <use xlink:href="#next-export-minor">
                                        <svg id="next-export-minor" width="100%" height="100%">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path d="M9.293 13.707l-3-3a1 1 0 0 1 1.414-1.414L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a1 1 0 0 1 1.414 1.414l-3 3a1 1 0 0 1-1.414 0zM17 16a1 1 0 1 1 0 2H3a1 1 0 1 1 0-2h14z"></path>
                                            </svg>
                                        </svg>
                                    </use>
                                </svg>
                                Export
                            </button>
                        </div>
                    </div>
                    <div class="ui-title-bar__mobile-primary-actions">
                        <div class="ui-title-bar__actions">
                            <a routerLink="/pages/new" href="javascript:void(0);"
                               class="ui-button ui-button&#45;&#45;primary ui-title-bar__action">Add
                                pages</a>
                        </div>
                    </div>
                </div>-->
              </div>
              <div class="ui-title-bar__actions-group">
                <div class="ui-title-bar__actions">
                  <a routerLink="/pages/new"
                     class="ui-button ui-button--primary ui-title-bar__action">Add pages</a>
                </div>
              </div>
            </div>
            <div class="collapsible-header">
              <div class="collapsible-header__heading"></div>
            </div>
          </header>
          <!-- END Header-->
          <div class="ui-layout ui-layout--full-width">
            <div class="ui-layout__sections">
              <div class="ui-layout__section">
                <div class="ui-layout__item">
                  <section class="ui-card">
                    <div class="has-bulk-actions">
                      <!--Data pages-->
                      <div class="data-pages">
                        <!--Tab panel-->
                        <div class="next-tab__container ">
                          <ul class="next-tab__list" role="tablist">
                            <li role="presentation">
                              <a class="next-tab next-tab--is-active" tabindex="-1"
                                 aria-controls="NextTabPanel-1-all" aria-selected="false"
                                 aria-label="All pages"
                                 href="javascript:void(0);">All</a>
                            </li>
                          </ul>
                        </div>
                        <!--END Tab panel-->
                        <div class="next-card__section next-card__section--no-bottom-spacing">
                          <div class="obj-filter hide-when-printing table-filter-container">
                            <div class="next-input-wrapper">
                              <label class="next-label"></label>
                              <div class="next-field__connected-wrapper">
                                <div class="next-field--connected--no-flex">
                                  <div class="ui-popover__container ui-popover__container--contains-active-popover">
                                    <button class="ui-button"
                                            data-dropdown="~ .ui-popover"
                                            type="button" name="button"
                                            id="ui-popover-activator--1"
                                            aria-expanded="true"
                                            aria-haspopup="true"
                                            aria-owns="ui-popover--1"
                                            aria-controls="ui-popover--1"
                                            (click)="isCustomFilter = true">
                                      Filter
                                      <span class="btn__text--deprioritize">pages</span>
                                      <svg class="next-icon next-icon--size-20">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#next-disclosure">
                                        </use>
                                      </svg>
                                    </button>
                                    <div [class.ui-popover--is-active]="isCustomFilter"
                                         (clickOutside)="isCustomFilter = false"
                                         [attachOutsideOnClick]="true"
                                         class="ui-popover ui-popover--align-edge ui-popover--is-positioned-beneath "
                                         data-popover-css-vertical-margin="13"
                                         data-popover-css-horizontal-margin="16"
                                         data-popover-css-max-height="300"
                                         data-popover-css-max-width="550"
                                         id="ui-popover--1"
                                         aria-labelledby="ui-popover-activator--1"
                                         aria-expanded="true" role="dialog"
                                         style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 76px -5px 0px; left: 0px;">
                                      <div class="ui-popover__tooltip"
                                           style="left: 76px;">
                                      </div>
                                      <div class="ui-popover__content-wrapper">
                                        <div class="ui-popover__content"
                                             style="max-height: 235px; width: 224px;">
                                          <div class="ui-popover__section">
                                            <!--Filter-->
                                            <div class="add-filters">
                                              <form class="clearfix">
                                                <p class="filter-heading">Show all pages where:</p>
                                                <div class="filter-builder">
                                                  <div class="next-input-wrapper--half-spacing">
                                                    <div class="next-input-wrapper"><label
                                                      class="next-label helper--visually-hidden" for="filter-select-1">Select
                                                      a filter</label>
                                                      <div class="ui-select__wrapper">
                                                        <select (change)=" selectedFilter = $event.target.value"
                                                                name="filter-select-1" id="filter-select-1"
                                                                class="ui-select">
                                                          <option value="">Select a filter...</option>
                                                          <option value="published_eq">Visibility
                                                          </option>
                                                        </select>
                                                        <svg class="next-icon next-icon--size-16">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                               xlink:href="#select-chevron"></use>
                                                        </svg>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div *ngIf="selectedFilter == 'published_eq'">
                                                    <label class="next-label" for="filter-input-0_">is</label>

                                                    <div class="next-input-wrapper--half-spacing">
                                                      <div class="next-input-wrapper"><label
                                                        class="next-label helper--visually-hidden"
                                                        for="filter-select-published_status-availability">Select a
                                                        value</label>
                                                        <div class="ui-select__wrapper">
                                                          <select class="ui-select" #pageVisibility
                                                                  name="filter-select-published_status-availability"
                                                                  id="filter-select-published_status-availability">
                                                            <option value="">Select a value...</option>
                                                            <option value="1">visible
                                                            </option>
                                                            <option value="0">hidden
                                                            </option>
                                                          </select>
                                                          <svg class="next-icon next-icon--size-16">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 xlink:href="#select-chevron"></use>
                                                          </svg>
                                                        </div>
                                                      </div>

                                                    </div>
                                                    <div class="next-input-wrapper--vertical-block">
                                                      <button
                                                        (click)="addFilter('q[published_eq]' , pageVisibility.value)"
                                                        class="ui-button btn-slim add-filter filtering-complete"
                                                        type="button" name="button">Add filter
                                                      </button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                            <!--END filter-->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--Search page-->
                                <div id="has-saved-search-actions"
                                     data-tg-refresh="saved-search-actions-next"
                                     class=""></div>
                                <div class="next-form next-form--full-width next-field--connected--no-border-radius"
                                     style="margin-left: 2px;">
                                  <label class="next-label helper--visually-hidden"
                                         for="query">Query</label>
                                  <div class="next-input--stylized next-field--connected"
                                       style="padding-top:5px; padding-bottom: 5px; ">
                                                                        <span
                                                                          class="next-input__add-on next-input__add-on--before">
                                                                        <svg
                                                                          class="next-icon next-icon--color-slate-lightest next-icon--size-16">
                                                                            <use
                                                                              xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                              xlink:href="#next-search-reverse"></use>
                                                                        </svg>
                                                                        </span>
                                    <input #searchBox id="query" placeholder="Search pages"
                                           (keyup)="searchTerms.next(searchBox.value)"
                                           class="next-input next-input--invisible"
                                           type="text">
                                  </div>
                                </div>
                                <div id="saved-search-actions-next"
                                     class="saved-search-actions-next"
                                     data-tg-refresh="saved-search-actions-next">
                                </div>
                                <!--END Search page-->
                              </div>
                            </div>
                          </div>
                          <div *ngIf="filterArray.length" class="filter-list">
                            <ul class="ui-tags active-filters">
                              <li *ngFor="let filter of filterArray" class="ui-tag">
                                <div [ngSwitch]="filter.param">
                                  <span *ngSwitchCase="'q[published_eq]'"
                                        class="ui-tag__label"> Visibility is is {{filter.value == 1 ? 'visible' : 'hidden'}}</span>
                                  <span *ngSwitchDefault
                                        class="ui-tag__label"> Title is {{filter.value}}</span>
                                </div>
                                <button (click)="addFilter(filter.param, '')" type="button" name="button"
                                        aria-label="Remove tag"
                                        class="ui-tag__remove-button">
                                  <svg class="next-icon next-icon--color-slate-lighter next-icon--size-12">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-remove"></use>
                                  </svg>
                                </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!--END data pages-->
                      <div id="pages-results">
                        <div class="ui-card__section">
                          <div class="ui-type-container">
                            <div class="table-wrapper">
                              <div class="example-container mat-elevation-z8">
                                <p-dataTable *ngIf="dataPage.length"
                                             [loading]="loading"
                                             [tableStyleClass]="'table-hover expanded'"
                                             [value]="dataPage"
                                             selectionMode="single"
                                             (onRowSelect)="router.navigate(['/pages' , $event.data.id])">
                                  <!--Select page-->
                                  <p-column field="id" styleClass="select">
                                    <ng-template let-col let-dat="rowData"
                                                 pTemplate="header">
                                                                            <span class="select">
                                                                                <div
                                                                                  class="tooltip tooltip-left-align tooltip-bottom bulk-actions__select-all-tooltip">
                                                                                    <div
                                                                                      class="next-input-wrapper bulk-actions__select-all btn--select-all">
                                                                                        <label
                                                                                          class="next-label next-label--switch {{ selectList.length ? 'helper--visually-hidden' : 'btn btn-slim bulk-actions__select-all-btn' }}"
                                                                                          for="bulk-actions__select-all"
                                                                                          style="min-height: 29px;">
                                                                                            <span
                                                                                              class="helper--visually-hidden">Select all pages</span>
                                                                                        </label>
                                                                                          <input #selectAll
                                                                                                 (change)="clickSelectAll(selectAll)"
                                                                                                 [checked]="selectList.length"
                                                                                                 name="bulk-actions__select-all"
                                                                                                 id="bulk-actions__select-all"
                                                                                                 value=""
                                                                                                 class="next-checkbox js-no-dirty bulk-actions__select-all-checkbox"
                                                                                                 type="checkbox">
                                                                                          <span
                                                                                            class="next-checkbox--styled">
                                                                                            <svg
                                                                                              class="next-icon next-icon--size-10 checkmark">
                                                                                                <use
                                                                                                  xlink:href="#next-checkmark-thick"></use>
                                                                                            </svg>
                                                                                            <svg
                                                                                              class="next-icon next-icon--size-10 indeterminate">
                                                                                                <use
                                                                                                  xlink:href="#next-minus"></use>
                                                                                            </svg>
                                                                                          </span>
                                                                                    </div>
                                                                                    <div class="tooltip-container">
                                                                                      <span class="tooltip-label">Select all pages</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                  [class.bulk-actions--is-visible]="selectList.length"
                                                                                  class="bulk-actions ">
                                                                                    <ul
                                                                                      class="bulk-actions__main-bar segmented">
                                                                                        <li>
                                                                                            <a
                                                                                              class="btn btn-slim btn-disabled btn--selection">
                                                                                              <span
                                                                                                class="selection-count">
                                                                                                <span
                                                                                                  bind="selectedItemsString(&quot;product&quot;)">{{ selectList.length }}</span> selected
                                                                                              </span>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="btn btn-slim"
                                                                                               (click)="bulkAction();">
                                                                                              Edit pages
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <div
                                                                                              class="ui-popover__container">
                                                                                                <button
                                                                                                  (click)="isShowBulkAction = true"
                                                                                                  class="ui-button ui-button--size-small"
                                                                                                  type="button"
                                                                                                  name="button">Bulk actions
                                                                                                <svg
                                                                                                  class="next-icon next-icon--size-20">
                                                                                                  <use
                                                                                                    xlink:href="#next-disclosure"></use>
                                                                                                </svg>
                                                                                                </button>
                                                                                                <div
                                                                                                  [class.ui-popover--is-active]="isShowBulkAction"
                                                                                                  class="ui-popover ui-popover--full-height ui-popover--is-positioned-beneath "
                                                                                                  id="ui-popover--1"
                                                                                                  aria-labelledby="ui-popover-activator--1"
                                                                                                  aria-expanded="true"
                                                                                                  role="dialog"
                                                                                                  style="max-width: none;margin-right: 0px;margin-left: 0px;transform-origin: 104px -5px 0px;left: -45px;">
                                                                                                    <div
                                                                                                      class="ui-popover__tooltip"
                                                                                                      style="left: 104px;">
                                                                                                    </div>
                                                                                                <div
                                                                                                  class="ui-popover__content-wrapper">
                                                                                                    <div
                                                                                                      class="ui-popover__content"
                                                                                                      style="max-height: 283px; width: 208px;">
                                                                                                      <div
                                                                                                        class="ui-popover__pane">
                                                                                                          <div
                                                                                                            class="ui-popover__section ui-popover__section--no-padding">
                                                                                                              <ul
                                                                                                                class="next-list next-list--compact">
                                                                                                                  <li>
                                                                                                                      <a
                                                                                                                        (click)="bulkSelectedItem('publish')"
                                                                                                                        class="next-list__item">
                                                                                                                          Publish selected pages
                                                                                                                      </a>
                                                                                                                  </li>
                                                                                                                  <li>
                                                                                                                      <a
                                                                                                                        (click)="bulkSelectedItem('unpublish')"
                                                                                                                        class="next-list__item">
                                                                                                                          Unpublish selected pages
                                                                                                                      </a>
                                                                                                                  </li>
                                                                                                                  <li>
                                                                                                                      <a
                                                                                                                        (click)="isModalShowDelete = true; isShowBulkAction = false;"
                                                                                                                        class="next-list__item">Delete selected pages</a>
                                                                                                                  </li>
                                                                                                              </ul>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <span
                                                                                      *ngIf="selectList.length == dataPage.length"
                                                                                      class="bulk-select-all">
                                                                                      <p
                                                                                        class="bulk-action-all-selector">
                                                                                        All pages <span>on this page</span> are selected.
                                                                                      </p>
                                                                                    </span>
                                                                                </div>
                                                                            </span>
                                    </ng-template>
                                    <ng-template let-col let-dat="rowData"
                                                 pTemplate="body">
                                      <div class="next-input-wrapper">
                                        <input id="product_ids_{{ dat[col.field] }}"
                                               class="next-checkbox input-checkbox "
                                               (change)="clickSelect(dat[col.field],$event.target.checked)"
                                               name='product_ids_{{ dat[col.field] }}'
                                               type="checkbox"
                                               value="{{ dat[col.field] }}">
                                        <span class="next-checkbox--styled">
                                                                                    <svg
                                                                                      class="next-icon next-icon--size-10 checkmark">
                                                                                        <use
                                                                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                          xlink:href="#next-checkmark-thick"></use>
                                                                                    </svg>
                                                                                </span>
                                      </div>
                                    </ng-template>
                                  </p-column>
                                  <!--END Select page-->
                                  <p-column [sortable]="true" field="title"
                                            header="Title"
                                            styleClass="va-m">
                                    <ng-template let-col let-dat="rowData"
                                                 pTemplate="body">
                                      <a data-nested-link-target="true"
                                         [routerLink]="['/pages', dat.id]">{{
                                        dat[col.field] }}
                                        <span class="badge badge--inline badge--status-subdued"
                                              [class.hide]="dat['published'] === 1">Hidden</span>
                                        <p class="type--subdued small">
                                          {{dat['metafields_global_description_tag']}}</p>
                                      </a>
                                    </ng-template>
                                  </p-column>
                                  <p-column [sortable]="true" field="updated_at"
                                            header="Last Modified">
                                    <ng-template let-col let-dat="rowData"
                                                 pTemplate="body">
                                      {{ dat[col.field] | date: "long" }}
                                    </ng-template>
                                  </p-column>
                                </p-dataTable>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="ui-footer-help">
            <div class="ui-footer-help__content">
              <div class="ui-footer-help__icon">
                <svg class="next-icon next-icon--size-24 next-icon--no-nudge" role="img"
                     aria-labelledby="next-help-circle-113f92885f93ab7182dd3ba28a2a01b1-title"><title
                  id="next-help-circle-113f92885f93ab7182dd3ba28a2a01b1-title">Help</title>
                  <use xlink:href="#next-help-circle"></use>
                </svg>
              </div>
              <div>
                <p>Learn more about
                  <a target="_blank" href="https://docs.shopify.com/manual/pages">pages</a>.
                </p></div>
            </div>
          </div>
          <!--END footer-->
        </div>
      </div>
    </div>
  </div>
</main>
<div *ngIf="isModalShow" [config]="{ show: true }" bsModal #popuppageAvailable="bs-modal" class="wrap-popup">
  <div class="modal" id="modal_container" aria-hidden="false" aria-labelledby="ModalTitle" tabindex="-1"
       style="display: block;">
    <div>
      <header>
        <h2 id="ModalTitle">
          Make
          <span>{{ selectList.length }} pages</span>
          {{ titlepagePopup }}
        </h2>
        <a (click)="onHidden()" href="javascript:" class="close-modal" role="button"
           aria-label="Close dialog">x</a>
      </header>

      <div class="body">
        <p>Make <span>these</span> <span>pages</span> {{ titlepagePopup }} on:</p>
        <div>
          <input type="checkbox" bind="publish_4" id="publish_facebook" value="83830023" checked="checked"
                 class="js-channel">
          <label for="publish_facebook" class="inline">Facebook</label>
        </div>
        <div>
          <input type="checkbox" bind="publish_1" id="publish_online_store" value="78540999" checked="checked"
                 class="js-channel">
          <label for="publish_online_store" class="inline">Online Store</label>
        </div>

      </div>

      <div class="buttons">
        <a (click)="onHidden()" class="btn close-modal" href="javascript:">Cancel</a>
        <button class="btn btn-primary js-btn-loadable">
          Make <span>pages</span> {{ titlepagePopup }}
        </button>
      </div>
    </div>

  </div>
</div>
<div *ngIf="isModalShowDelete" [config]="{ show: true }" bsModal #popuppageDelete="bs-modal" class="wrap-popup">
  <div class="modal" data-tg-refresh="modal" aria-hidden="false" aria-labelledby="ModalTitle" tabindex="-1"
       style="display: block;">
    <header>
      <h2>
        Delete
        <span class="hide">all</span>
        <span>{{ selectList.length }} pages</span><span class="hide"> matching your search</span>?
      </h2>
      <button (click)="onHidden()" class="ui-button btn--plain close-modal" type="button" name="button">×</button>
    </header>
    <form>
      <div class="body">
        <p>
          Deleted pages cannot be recovered. Do you still want to continue?
        </p>
      </div>
      <div class="buttons">
        <button class="ui-button close-modal" (click)="onHidden()" type="button" name="button">Cancel</button>
        <button type="submit" (click)="bulkSelectedItem('destroy')"
                class="btn btn-destroy-no-hover js-btn-loadable has-loading">
          Delete <span></span>
        </button>
      </div>
    </form>
  </div>
</div>
<!--TODO : tạo module như alert-->
<div class="ui-flash-wrapper" [class.ui-flash-wrapper--is-visible]="isShowFlashMessage"
     id="UIFlashWrapper">
  <div class="ui-flash ui-flash--nav-offset" id="UIFlashMessage" data-tg-refresh-always="true"
       data-flash-has-message="true">
    <p class="ui-flash__message" tabindex="-1" aria-live="off" role="status">
      {{ flash_message }}</p>
    <div class="ui-flash__close-button">
      <button class="ui-button ui-button--transparent ui-button--icon-only"
              aria-label="Close message" type="button" name="button">
        <svg class="next-icon next-icon--color-white next-icon--size-12">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-remove">
            <svg id="next-remove" width="100%" height="100%">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path
                  d="M18.263 16l10.07-10.07c.625-.625.625-1.636 0-2.26s-1.638-.627-2.263 0L16 13.737 5.933 3.667c-.626-.624-1.637-.624-2.262 0s-.624 1.64 0 2.264L13.74 16 3.67 26.07c-.626.625-.626 1.636 0 2.26.312.313.722.47 1.13.47s.82-.157 1.132-.47l10.07-10.068 10.068 10.07c.312.31.722.468 1.13.468s.82-.157 1.132-.47c.626-.625.626-1.636 0-2.26L18.262 16z"></path>
              </svg>
            </svg>
          </use>
        </svg>
      </button>
    </div>
  </div>
</div>
